<script setup>
import { watch } from "vue";

import { ValidDrop, RemoveCrossIcon } from "../../icons";
import { ChevronDownIcon } from "@heroicons/vue/20/solid";

// Props
const props = defineProps({
    data: Object,
    isError: Boolean
});
const data = props.data;
let defaultShow = true;
const removeSelectedItem = (id) => {
    data.parentID.map((item) => {
        data.selectedItems[`${item}`] = data.selectedItems[`${item}`].filter((item) => item.value !== id);
    });
};

const change = (id) => {
    data.activeMainId = id;
};

const batchUpdateCheckAll = (id) => {
    data.checked[id].isChecked = !data.checked[id].isChecked;
    data.selectedItems[id] = data.checked[id].isChecked ? data.subData[id] : [];
};

watch(data, (value) => {
    const { selectedItems: mainSelectedItems, subData: subData, parentID: mainParentID } = value;
    defaultShow = true;
    for (let index = 0; index < mainParentID.length; index++) {
        if (mainSelectedItems[mainParentID[index]].length > 0)
            defaultShow = false;
        if (mainSelectedItems[mainParentID[index]].length === subData[mainParentID[index]].length) {
            data.checked[mainParentID[index]].isChecked = true;
        } else {
            data.checked[mainParentID[index]].isChecked = false;
        }
    }
});
</script>

<template>
    <div class="relative inline-block text-left w-full">
        <div v-if="data.parentID.length !== 0"
            class="group hover:ring-black inline-flex w-full justify-between items-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-normal text-gray-900 ring-1 ring-inset ring-gray-300 cursor-pointer"
            :class="props.isError ? 'ring-red-500' : ''" @click="data.dropdownStatus = !data.dropdownStatus">
            <div class="flex justify-start items-center flex-wrap gap-1 w-full">
                <ValidDrop class="h-4 w-4 mr-2.5" />
                <span v-if="defaultShow" class="text-sm font-normal"> {{ data.default }} </span>
                <div class="flex flex-row items-center flex-wrap gap-1"
                    v-for="(selectedItem, index) in data.selectedItems">
                    <a class="justify-center items-center rounded-xl border border-blue-100 bg-blue-50 text-xs px-2"
                        v-for="item in selectedItem" :class="selectedItem.length == 0 ? 'hidden' : 'flex'">
                        {{ item.text }}
                        <button @click.stop.prevent="removeSelectedItem(item.value)">
                            <RemoveCrossIcon class="h-2 w-2 ml-1" />
                        </button>
                    </a>
                </div>
            </div>
            <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400 group-hover:text-black" aria-hidden="true" />
        </div>
        <div v-else
            class="inline-flex w-full justify-between items-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-normal text-gray-900  ring-1 ring-inset ring-gray-300 bg-gray-50 hover:cursor-not-allowed">
            <ValidDrop class="h-4 w-4 mr-2.5" />
            <span class="text-sm font-normal"> {{ data.default }} </span>
            <ChevronDownIcon class="ml-auto h-5 w-5 text-gray-400" aria-hidden="true" />
        </div>

        <div :class="data.dropdownStatus ? 'flex' : 'hidden'"
            class="flex-col absolute right-0 z-10 mt-2 origin-top-right rounded-md p-1.5 bg-white w-full border border-black  ring-1 ring-black ring-opacity-5 focus:outline-none h-72">
            <span
                style="position: absolute; width: 0px; height: 19px; border: 8px solid transparent; border-bottom-color: rgba(0, 0, 0, 1); left: 10%; top: -19px; transform: translate(-10%, 0)"></span>
            <span
                style="position: absolute; width: 14px; height: 14px; border: 7px solid transparent; border-bottom-color: white; left: 10.1%; top: -14px; transform: translate(-10%, 0)"></span>
            <div class="flex divide-x h-5/6">
                <ul class="list-none w-1/2 pr-1 h-full overflow-y-auto">
                    <li v-for="(checkbox, main_code) in data.checked">
                        <div class="flex justify-start items-start p-2 rounded-md"
                            :class="data.activeMainId == main_code ? 'bg-sky-100 text-blue-600' : 'text-gray-700 bg-transparent'">
                            <input type="checkbox"
                                class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-0 focus:outline-none cursor-pointer hover:border-blue-600"
                                v-model="data.checked[main_code].isChecked" @change="batchUpdateCheckAll(main_code)" />
                            <label class="text-xs w-full" @click.stop.prevent="change(main_code)">
                                <span class="ml-1 font-normal"> {{ checkbox.main_name }} </span>
                            </label>
                            <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400 -rotate-90" aria-hidden="true" />
                        </div>
                    </li>
                </ul>
                <ul class="list-none w-1/2 pl-1 h-full overflow-y-auto" v-for="(item, itemIndex) in data.subData"
                    :class="data.activeMainId == itemIndex ? 'flex flex-col' : 'hidden'">
                    <li v-for="subItem in item">
                        <div class="text-gray-700 flex p-2">
                            <input type="checkbox" :value="subItem" v-model="data.selectedItems[itemIndex]"
                                class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-0 focus:outline-none cursor-pointer hover:border-blue-600" />
                            <label class="text-xs w-full">
                                <span class="font-normal ml-1"> {{ subItem.text }} </span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flex justify-end items-center p-2.5 border-t">
                <button class="flex justify-center bg-blue-500 rounded-md w-20 p-1"
                    @click="data.dropdownStatus = false">
                    <span class="text-xs text-white">確定</span>
                </button>
            </div>
        </div>
    </div>
</template>