<script setup>
import store from "./store";
import { ErrorIcon, InfoIcon, WarningIcon, SuccessIcon, CloseIcon } from "./icons";

const props = defineProps({
  notification: Object,
});

const closeNotification = (id) => {
  store.actions.removeNotification(id);
};
</script>

<template>
  <div class="bg-white shadow-lg rounded-lg pointer-events-auto">
    <div class="rounded-lg shadow-xl overflow-hidden">
      <div class="p-4">
        <div class="flex items-start">
          <div class="flex-shrink-0" v-if="props.notification.type">
            <SuccessIcon v-if="props.notification.type === 'success'" />
            <InfoIcon v-else-if="props.notification.type === 'info'" />
            <WarningIcon v-else-if="props.notification.type === 'warning'" />
            <ErrorIcon v-else-if="props.notification.type === 'error'" />
          </div>
          <div class="ml-3 w-0 flex-1 pt-0.5">
            <p class="text-sm leading-5 font-medium text-blue-600" v-if="props.notification.type === ''">
              {{ props.notification.title }}
            </p>
            <p class="text-sm leading-5 font-medium text-gray-900" v-if="props.notification.type !== ''">
              {{ props.notification.title }}
            </p>
            <p :class="`${props.notification.title ? 'mt-1' : ''} text-sm leading-5 text-gray-500`">
              {{ props.notification.content }}
            </p>
          </div>
          <div class="ml-4 flex-shrink-0 flex">
            <button @click="() => closeNotification(props.notification.id)"
              class="inline-flex text-gray-500 focus:outline-none focus:text-gray-500 transition-all ease-in-out duration-150">
              <CloseIcon />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
