<template>
  <svg version="1.1" id="all-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_all">
        <g id="Group">
          <path id="Shape"
            d="M341.4,1023.7c-23.6,0-42.7-19.1-42.7-42.6V42.8c0-23.6,19.1-42.6,42.7-42.6c23.6,0,42.7,19.1,42.7,42.6V981
				C384,1004.6,364.9,1023.7,341.4,1023.7z M684,1023.9c-23.6,0-42.7-19.1-42.7-42.6V43c0-23.6,19.1-42.6,42.7-42.6
				s42.7,19.1,42.7,42.6v938.2C726.7,1004.8,707.6,1023.9,684,1023.9z M981.2,810.4c-23.6,0-42.7-19.1-42.7-42.6V256
				c0-23.6,19.1-42.6,42.7-42.6s42.7,19.1,42.7,42.6v511.8C1023.9,791.4,1004.8,810.4,981.2,810.4z M42.8,810.4
				c-23.6,0-42.7-19.1-42.7-42.6V256c0-23.6,19.1-42.6,42.7-42.6s42.7,19.1,42.7,42.6v511.8C85.5,791.4,66.4,810.4,42.8,810.4z" />
        </g>
      </g>
    </g>
  </svg>
</template>
