<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" viewBox="0 0 110 110" fill="none">
        <g clip-path="url(#clip0_91_231)">
            <path opacity="0.15" fill-rule="evenodd" clip-rule="evenodd"
                d="M55 -0.0214844C85.3896 -0.0214844 110.021 24.6104 110.021 55C110.021 85.3896 85.3896 110.021 55 110.021C24.6104 110.021 -0.0214844 85.3896 -0.0214844 55C-0.0214844 24.6104 24.6104 -0.0214844 55 -0.0214844Z"
                fill="#FFB360" />
            <path opacity="0.15" fill-rule="evenodd" clip-rule="evenodd"
                d="M55 9.97949C79.8574 9.97949 100.021 30.1318 100.021 55C100.021 79.8574 79.8682 100.021 55 100.021C30.1426 100.021 9.97949 79.8574 9.97949 55C9.97949 30.1426 30.1426 9.97949 55 9.97949Z"
                fill="#FFB360" />
            <path opacity="0.15" fill-rule="evenodd" clip-rule="evenodd"
                d="M55 19.9912C74.3359 19.9912 90.0088 35.6641 90.0088 55C90.0088 74.3359 74.3359 90.0088 55 90.0088C35.6641 90.0088 19.9912 74.3359 19.9912 55C19.9912 35.6641 35.6641 19.9912 55 19.9912Z"
                fill="#FFB360" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M55 24.9863C63.4863 25.2119 70.5547 28.1445 76.2051 33.7949C81.8555 39.4453 84.7881 46.5137 85.0137 55C84.7881 63.4863 81.8555 70.5547 76.2051 76.2051C70.5547 81.8555 63.4863 84.7881 55 85.0137C46.5137 84.7881 39.4453 81.8555 33.7949 76.2051C28.1445 70.5547 25.2119 63.4863 24.9863 55C25.2119 46.5137 28.1445 39.4453 33.7949 33.7949C39.4453 28.1445 46.5137 25.2119 55 24.9863Z"
                fill="#FFB360" />
            <path
                d="M55 40C46.7285 40 40 46.7285 40 55C40 58.0059 40.8857 60.9067 42.5624 63.3876C42.8657 63.835 43.4722 63.953 43.9209 63.6511C44.3683 63.3485 44.4863 62.74 44.1837 62.2926C42.7267 60.1359 41.9565 57.6146 41.9565 55C41.9565 47.8078 47.8078 41.9565 55 41.9565C62.1922 41.9565 68.0435 47.8078 68.0435 55C68.0435 62.1922 62.1922 68.0435 55 68.0435C52.3235 68.0435 49.7533 67.24 47.5659 65.7191C47.1217 65.41 46.5113 65.5196 46.2041 65.9637C45.8957 66.4072 46.0052 67.017 46.4487 67.3248C48.9654 69.0752 51.9224 70 55 70C63.2715 70 70 63.2715 70 55C70 46.7285 63.2715 40 55 40ZM55.0001 60.0956C53.9195 60.0956 53.0436 60.9714 53.0436 62.0521C53.0436 63.1327 53.9195 64.0086 55.0001 64.0086C56.0808 64.0086 56.9567 63.1327 56.9567 62.0521C56.9567 60.9714 56.0808 60.0956 55.0001 60.0956ZM55.0001 46.3176C53.5595 46.3176 52.3914 47.4857 52.3914 48.9263C52.3914 49.0378 52.411 49.1448 52.4247 49.2524H52.4051L53.3951 57.2415H53.3984C53.534 58.0059 54.1973 58.587 55.0001 58.587C55.803 58.587 56.4669 58.0059 56.6019 57.2415H56.6051L57.5886 49.2524H57.5762C57.5893 49.1448 57.6088 49.0378 57.6088 48.9263C57.6088 47.4857 56.4408 46.3176 55.0001 46.3176Z"
                fill="white" />
        </g>
        <defs>
            <clipPath id="clip0_91_231">
                <rect width="110" height="110" fill="white" />
            </clipPath>
        </defs>
    </svg>
</template>