<template>
  <svg version="1.1" id="right-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_next" transform="translate(-6.000000, 0.000000)">
        <path id="icon_next" d="M816.7,514c-0.5,14.2-6.7,27.7-17.2,37.8c-0.9,0.9-1.9,1.8-2.9,2.6l-476.6,453.3
			c-23,21.9-60.2,21.9-83.2,0c-11.1-10.6-17.3-24.9-17.3-39.7s6.2-29.1,17.3-39.6L674.3,512L236.6,95.8
			c-14.9-14.2-20.7-34.8-15.3-54.2c5.4-19.4,21.3-34.5,41.7-39.7s42,0.3,56.9,14.5l476.6,453.2c1,0.8,1.9,1.7,2.8,2.5l0.1,0.1
			c11,10.5,16.7,24,17.2,37.8V514z" />
      </g>
    </g>
  </svg>
</template>
