<template>
  <svg version="1.1" id="chevron-left-icon" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024" xml:space="preserve" fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_Prev" transform="translate(-6.000000, 0.000000)">
        <path id="Prev" d="M219.3,514c0.5,14.2,6.7,27.7,17.2,37.8c0.9,0.9,1.9,1.8,2.9,2.6l476.6,453.3c23,21.9,60.2,21.9,83.2,0l0.1-0.1
			c11-10.5,17.3-24.8,17.3-39.6s-6.2-29.1-17.3-39.6L361.7,512L799.4,95.8h0c14.9-14.2,20.7-34.8,15.2-54.2S793.3,7.1,773,1.9
			c-20.3-5.2-42,0.3-56.9,14.5L239.5,469.7c-1,0.8-1.9,1.7-2.8,2.5l-0.1,0.1c-11,10.5-16.7,24-17.2,37.8V514z" />
      </g>
    </g>
  </svg>
</template>
