<template>
  <svg version="1.1" id="chevron-down-icon" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024" xml:space="preserve" fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_drop-down_x28_full_x29_" transform="translate(0.000000, -6.000000)">
        <g id="caret-down-solid" transform="translate(0.000000, 6.000000)">
          <path id="Path" d="M68.9,221.6h886.2c61.3,0,92,74.1,48.6,117.4L560.7,782.3c-26.9,26.9-70.6,26.9-97.5,0L20.3,339
				C-23.1,295.6,7.6,221.6,68.9,221.6z" />
        </g>
      </g>
    </g>
  </svg>
</template>
