<template>
  <svg version="1.1" id="circle-tick-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_ok">
        <g id="Group">
          <path id="Combined-Shape" d="M512,0.1c282.7,0,511.9,229.2,511.9,511.9S794.7,1023.9,512,1023.9S0.1,794.7,0.1,512
				S229.3,0.1,512,0.1z M770.4,282.9L438.9,614.4L302.4,477.9l-68.2,68.2l204.7,204.7l399.7-399.7L770.4,282.9z" />
        </g>
      </g>
    </g>
  </svg>
</template>
