<template>
  <svg version="1.1" id="circle-cross-icon" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024" xml:space="preserve" fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_no">
        <path id="Combined-Shape" d="M512,0c282.8,0,512,229.2,512,512s-229.2,512-512,512S0,794.8,0,512S229.2,0,512,0z M683.5,292.5
			L512,457.3L340.6,292.5L286,349.3L455.2,512L286,674.6l54.6,56.9L512,566.6l171.5,164.9l54.5-56.9L568.8,512L738,349.3
			L683.5,292.5z" />
      </g>
    </g>
  </svg>
</template>
