<template>
  <svg version="1.1" id="close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor" class="w-4 h-4">
    <g id="Symbols">
      <g id="Icon_x2F_X">
        <g id="X">
          <path id="Path" d="M512,441.5L943.6,9.9c13-12.9,34-12.9,47,0l23.5,23.5c13,13,13,34,0,47L582.5,512l431.6,431.6
				c12.9,13,12.9,34,0,47l-23.5,23.5c-13,13-34,13-47,0L512,582.5L80.4,1014.1c-13,12.9-34,12.9-47,0L9.9,990.6c-13-13-13-34,0-47
				L441.5,512L9.9,80.4c-12.9-13-12.9-34,0-47L33.4,9.9c13-13,34-13,47,0L512,441.5L512,441.5z" />
        </g>
      </g>
    </g>
  </svg>
</template>
