<template>
  <svg version="1.1" id="copy-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_copy">
        <g id="copy">
          <path id="Shape" d="M625.7,0.1c94.2,0,170.6,76.4,170.6,170.6v56.9h56.9c94.2,0,170.6,76.4,170.6,170.6v455
				c0,94.2-76.4,170.6-170.6,170.6h-455c-94.2,0-170.6-76.4-170.6-170.6v-56.9h-56.9C76.5,796.4,0.1,720,0.1,625.7v-455
				C0.1,76.5,76.5,0.1,170.8,0.1H625.7z M853.2,312.9h-455c-43.9,0-80.7,33.4-84.9,77.1l-0.4,8.2v455c0,43.9,33.4,80.7,77.1,84.9
				l8.2,0.4h455c43.9,0,80.7-33.4,84.9-77.1l0.4-8.2v-455c0-43.9-33.4-80.7-77.1-84.9L853.2,312.9z M625.7,85.5h-455
				c-47.1,0-85.3,38.2-85.3,85.3v455c0,47.1,38.2,85.3,85.3,85.3h56.9V398.3c0-94.2,76.4-170.6,170.6-170.6h312.8v-56.9
				C711.1,123.7,672.9,85.5,625.7,85.5z" />
        </g>
      </g>
    </g>
  </svg>
</template>
