<template>
  <svg version="1.1" id="edit-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_edit">
        <g id="edit">
          <path id="Shape" d="M970.9,52.5c69.9,69.9,69.9,183.2,0,253.1L262.5,1014c-5.6,5.6-13.2,8.7-21.1,8.7H60.3
				c-32.9,0-59.7-26.7-59.7-59.7V782c0-7.9,3.1-15.5,8.7-21.1L717.9,52.5C787.7-17.3,901-17.3,970.9,52.5L970.9,52.5z M907.7,115.8
				c-33.5-33.5-87.3-35.1-122.7-3.6l-3.8,3.6L93.7,803.2c-2.2,2.2-3.5,5.3-3.5,8.4v109.7c0,6.6,5.3,11.9,11.9,11.9h109.6
				c3.2,0,6.2-1.3,8.4-3.5l687.4-687.4c33.5-33.5,35.1-87.3,3.6-122.7L907.7,115.8L907.7,115.8z" />
          <polygon id="Path" points="654.5,115.8 907.6,368.9 844.4,432.2 591.3,179.1 			" />
          <path id="Path_00000129928822397265463470000008626842578872331665_" d="M527.6,934.4h483.2c8,0,11.9,4,11.9,11.9v65.6
				c0,8-4,11.9-11.9,11.9H527.6c-8,0-11.9-4-11.9-11.9v-65.6C515.6,938.3,519.6,934.4,527.6,934.4z" />
          <path id="Path_00000123443009687984272850000008016510879962483347_" d="M766.2,755.4h244.6c8,0,11.9,4,11.9,11.9v65.6
				c0,8-4,11.9-11.9,11.9H766.2c-8,0-11.9-4-11.9-11.9v-65.6C754.2,759.4,758.2,755.4,766.2,755.4z" />
        </g>
      </g>
    </g>
  </svg>
</template>
