<template>
  <svg version="1.1" id="group-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentcolor">
    <g id="Symbols">
      <g id="Icon_x2F_group">
        <path id="Shape" d="M25.8,354.3l460.6,261.1c15.8,9,35.3,9,51.2,0l460.6-261.1c15.7-8.9,25.5-25.4,25.6-43.2
			c0.1-18-9.7-34.7-25.6-43.7L537.6,6.9c-15.8-9-35.3-9-51.2,0L25.8,267.5c-15.9,9-25.7,25.7-25.6,43.7C0.3,329,10,345.4,25.8,354.3
			z M512,110.3l358.3,200.8L512,512L153.7,311.2L512,110.3z M947,470.3L512,712.8L77,468.3c-11.8-6.7-25.8-8.5-39-5
			c-13.2,3.5-24.4,12-31.1,23.6c-13.9,24-5.4,54.5,18.9,68.3l460.6,261.1c15.8,9,35.3,9,51.2,0l460.6-261.1
			c24.4-13.8,32.8-44.3,18.9-68.3c-6.8-11.6-18-20.1-31.1-23.6c-13.2-3.5-27.2-1.7-39,5V470.3z M947,671.2L512,913.7L77,669.2
			c-11.8-6.7-25.8-8.5-39-5c-13.2,3.5-24.4,12-31.1,23.6c-13.9,24-5.4,54.5,18.9,68.3l460.6,261.1c15.8,9,35.3,9,51.2,0L998.2,756
			c24.4-13.8,32.8-44.3,18.9-68.3c-6.8-11.6-18-20.1-31.1-23.6c-13.2-3.5-27.2-1.7-39,5V671.2z" />
      </g>
    </g>
  </svg>
</template>
