<template>
  <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
    <g fill="#3A3A3A" fill-rule="nonzero">
      <path
        d="M8.052 16a4.387 4.387 0 0 1-3.125-1.29l-3.632-3.63a4.451 4.451 0 0 1-1.29-3.342l.192-4.015A3.694 3.694 0 0 1 3.724.197L7.73.005C7.797 0 7.866 0 7.935 0a4.409 4.409 0 0 1 3.142 1.295l3.63 3.631a4.434 4.434 0 0 1 0 6.258l-3.518 3.518A4.403 4.403 0 0 1 8.052 16zM7.926 1.212h-.147l-4.007.192a2.484 2.484 0 0 0-2.38 2.372l-.19 4.017a3.237 3.237 0 0 0 .947 2.428l3.63 3.63a3.227 3.227 0 0 0 4.562 0l3.513-3.513a3.227 3.227 0 0 0 0-4.56l-3.638-3.623a3.214 3.214 0 0 0-2.29-.943z" />
      <path
        d="M5.993 8.603a2.605 2.605 0 1 1 0-5.209 2.605 2.605 0 0 1 0 5.21zm0-4.006a1.403 1.403 0 1 0 0 2.805 1.403 1.403 0 0 0 0-2.805zm2.38 7.837a.604.604 0 0 1 0-.85L11.58 8.38a.601.601 0 0 1 .85.85l-3.207 3.205a.6.6 0 0 1-.85 0z" />
    </g>
  </svg>
</template>
