<template>
  <svg version="1.1" id="play-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="icon_x2F_start">
        <g id="Group">
          <path id="Shape" class="st0"
            d="M512,0C229.2,0,0,229.2,0,512s229.2,512,512,512c282.8,0,512-229.2,512-512S794.8,0,512,0L512,0z
				 M735,545.8L461.9,744.9c-5.6,4-11.9,6-18.2,6c-5.7,0-11.4-1.7-16.5-5c-10.9-7-17.6-20.4-17.6-34.8V312.9
				c0-14.5,6.8-27.8,17.6-34.8c10.8-7,24.1-6.7,34.6,1.1l273.1,199.1c9.9,7.2,16,20,16,33.7S744.8,538.5,735,545.8L735,545.8z" />
        </g>
      </g>
    </g>
  </svg>
</template>
