<template>
  <svg id="plus-icon" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
    <path
      d="M7.037 3.554H4.425V.942a.435.435 0 0 0-.87 0v2.612H.941a.435.435 0 0 0 0 .87h2.612v2.613a.435.435 0 0 0 .87 0V4.425h2.613a.435.435 0 0 0 0-.87z"
      fill="#currentColor" fill-rule="nonzero" />
  </svg>
</template>
