<template>
  <svg version="1.1" id="remark-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_file" transform="translate(-3.000000, 0.000000)">
        <g id="Group" transform="translate(3.000000, 0.000000)">
          <path id="Shape" d="M896.7,245.5L678.3,25.3c-17.4-17.5-37.2-25-62-25H189.4c-47.2-2.5-86.9,37.5-86.9,85.1v850.9
				c0,47.6,39.7,87.6,86.9,87.6h645.2c47.2,0,86.9-40,86.9-87.6V305.6C921.5,283.1,911.6,260.5,896.7,245.5z M844.5,298.1
				c-2.5,2.5-5,0-9.9,0H636.1c-7.4,0-12.4-5-12.4-12.5V85.4c0-2.5,0-7.5-2.5-10c0,0,2.5,0,2.5,2.5L844.5,298.1L844.5,298.1z
				 M834.6,948.8H189.4c-7.4,0-12.4-5-12.4-12.5V85.4c0-7.5,5-12.5,12.4-12.5h362.3c-2.5,5-2.5,7.5-2.5,12.5v200.2
				c0,47.6,39.7,87.6,86.9,87.6h198.5c5,0,7.4,0,12.4-2.5v565.6C847,943.8,842.1,948.8,834.6,948.8L834.6,948.8z" />
          <path id="Shape_00000082349948847451022010000008255015883215700900_"
            d="M660.9,723.5H313.5c-19.9,0-37.2,17.5-37.2,37.5
				c0,20,17.4,37.5,37.2,37.5h347.4c19.9,0,37.2-17.5,37.2-37.5C698.1,741,680.8,723.5,660.9,723.5z M660.9,523.3H313.5
				c-19.9,0-37.2,17.5-37.2,37.5s17.4,37.5,37.2,37.5h347.4c19.9,0,37.2-17.5,37.2-37.5S680.8,523.3,660.9,523.3z M313.5,398.2h99.3
				c19.9,0,37.2-17.5,37.2-37.5c0-20-17.4-37.5-37.2-37.5h-99.3c-19.9,0-37.2,17.5-37.2,37.5C276.2,380.7,293.6,398.2,313.5,398.2z" />
        </g>
      </g>
    </g>
  </svg>
</template>
