<template>
  <svg version="1.1" id="required-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_必填">
        <path id="Path"
          d="M580.6,447.5c51.4-24.8,102.2-50.6,152.6-77.4c48.1-25.9,87-45.2,115.7-57.1c28.7-11.8,51.2-18.2,68.6-18.2
			c28.7,0,53.2,9.6,74.7,30.1c20.5,20.5,31.7,45.2,31.7,75.3c0,17.3-5.1,35.5-15.4,53.8c-10.2,18.3-21.5,30.2-32.8,35.6
			c-105.5,44-223.2,76.3-350.2,95.6c23.6,21.5,51.2,51.7,85,89.3s51.2,57,53.2,60.2c12.3,18.3,29.7,41,52.2,67.8
			c22.5,26.9,37.9,47.4,46.1,62.3c8.2,15.1,13.3,33.3,13.3,54.9c0.1,27-10.6,53-29.7,72.1c-20,20.9-47.9,32.2-76.8,31.2
			c-30.7,0-66.6-25.9-105.5-76.4C624.7,897,573.5,805.7,512,673.4c-62.5,118.3-104.4,197.9-124.9,235.5c-21.5,37.6-42,66.6-61.4,86
			c-17.6,18.6-42,29.1-67.6,29.1c-29,0.8-56.8-11.4-75.8-33.3c-18.4-19.1-29-44.5-29.7-71c0-23.7,4.1-41,12.3-52.7
			c75.8-107.5,154.6-202.2,236.5-280.7c-61.9-10-123.4-22.5-184.3-37.6c-59.2-15.8-117.1-36.4-173-61.4
			c-10.2-5.2-19.5-17.2-28.7-35.5c-10-15-15.4-32.6-15.4-50.6c-1-28.5,10.6-56,31.7-75.3c19.1-19.6,45.4-30.5,72.7-30.1
			c19.5,0,44,6.4,73.7,18.3c29.7,12.8,66.6,30.1,112.6,54.8c46.1,23.7,97.3,50.6,155.6,79.6c-10.2-54.8-19.5-117.2-26.6-187.1
			s-10.2-118.3-10.2-144.1c0-32.3,9.2-59.1,28.7-81.8c17.9-23,45.6-36.1,74.7-35.5c29.7,0,54.3,11.8,73.7,34.4
			c19.5,23.7,28.7,53.8,28.7,91.4c0,10.8-2,31.2-4.1,61.4c-2,31.1-7.2,67.7-12.3,110.7C592.9,342,586.8,391.4,580.6,447.5z" />
      </g>
    </g>
  </svg>
</template>
