<template>
  <svg version="1.1" id="search-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_search">
        <g id="search">
          <path id="Shape" d="M1011.8,954.1L829.4,771.7C897.9,690,939.7,584.4,939.7,470c0-259.4-211.1-469.8-469.8-469.8
				C210.5,0.1,0,211.2,0,470c0,259.4,211.1,469.8,469.8,469.8c115.1,0,220-41.7,301.7-110.3L954,1011.9c7.8,7.8,18.5,11.9,29.2,11.9
				c10.7,0,20.9-4.2,29.2-11.9C1027.9,995.8,1027.9,969.6,1011.8,954.1z M81.7,470c0-214,174.1-388.1,388.1-388.1
				S857.4,255.9,857.4,470S683.3,858.1,469.3,858.1S81.7,683.4,81.7,470z" />
        </g>
      </g>
    </g>
  </svg>
</template>
