<template>
  <svg version="1.1" id="stop-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="info_x2F_問號">
        <g id="Group">
          <path id="Shape" class="st0" d="M7,0" />
        </g>
      </g>
    </g>
    <g id="Symbols_00000178187609108991667040000008403574032972238479_">
      <g id="icon_x2F_stop">
        <g id="stop">
          <path id="Combined-Shape" class="st0" d="M512,0c282.3,0,512,229.7,512,512c0,282.3-229.7,512-512,512C229.7,1024,0,794.3,0,512
				C0,229.7,229.7,0,512,0z M512,91.4C280.1,91.4,91.4,280.1,91.4,512S280.1,932.6,512,932.6S932.6,743.9,932.6,512
				S743.9,91.4,512,91.4z M682.7,341.3v341.3H341.3V341.3H682.7z" />
        </g>
      </g>
    </g>
  </svg>
</template>
