<template>
  <svg version="1.1" id="tick-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_tick">
        <g id="tick">
          <polygon id="Path" points="879.6,16.1 397.5,704.7 216,507.5 -0.2,572.6 422,1007.9 1024.2,16.1" />
        </g>
      </g>
    </g>
  </svg>
</template>
