<template>
  <svg version="1.1" id="trash-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_del" transform="translate(-2.000000, -1.000000)">
        <g id="del" transform="translate(2.000000, 1.000000)">
          <path id="Path" d="M853.2,341.4c-25.6,0-42.7,17.1-42.7,42.7v503.3c0,34.1-25.6,51.2-51.2,51.2H264.6
				c-34.1,0-51.2-25.6-51.2-51.2V384c0-25.6-17.1-42.7-42.7-42.7s-42.7,17.1-42.7,42.7v503.3c0,76.8,59.7,136.5,136.5,136.5h486.3
				c76.8,0,136.5-59.7,136.5-136.5V384C895.9,358.4,878.8,341.4,853.2,341.4z" />
          <path id="Path_00000153695793101471461280000001616267582108992438_" d="M443.8,810.6V384c0-25.6-17.1-42.7-34.1-42.7
				s-51.2,17.1-51.2,42.7v426.5c0,25.6,17.1,42.7,42.7,42.7C426.7,853.2,443.8,836.2,443.8,810.6z" />
          <path id="Path_00000080197770815505577270000017447299506857455746_" d="M665.6,810.6V384c0-25.6-25.6-42.7-51.2-42.7
				s-34.1,17.1-34.1,42.7v426.5c0,25.6,17.1,42.7,34.1,42.7S665.6,836.2,665.6,810.6z" />
          <path id="Shape" d="M938.5,170.8H725.3V111c0-59.7-51.2-110.9-110.9-110.9H409.6c-59.7,0-110.9,51.2-110.9,110.9v59.7H85.5
				c-25.6,0-42.7,17.1-42.7,42.7c0,25.6,17.1,42.7,42.7,42.7h853.1c25.6,0,42.7-17.1,42.7-42.7C981.2,187.8,964.1,170.8,938.5,170.8
				z M384,111c0-17.1,8.5-25.6,25.6-25.6h204.7c17.1,0,25.6,8.5,25.6,25.6v59.7H384V111z" />
        </g>
      </g>
    </g>
  </svg>
</template>
