<template>
  <svg version="1.1" id="type-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="Icon_x2F_type">
        <g id="Group">
          <path id="Shape" d="M42.1,0.1C18.9,0.1,0.1,18.9,0.1,42.1v362.4c0,23.1,18.8,41.9,41.9,41.9h362.4c23.1,0,41.9-18.8,41.9-41.9
				V42.1c0-23.1-18.8-41.9-41.9-41.9H42.1z M365.2,365.2H81.3V81.3h283.9V365.2z M0.1,931.8c0,23.1,18.8,41.9,41.9,41.9h362.4
				c23.1,0,41.9-18.8,41.9-41.9V569.4c0-23.1-18.8-41.9-41.9-41.9H42.1c-23.1,0-41.9,18.8-41.9,41.9V931.8L0.1,931.8z M81.3,608.6
				h283.9v283.9H81.3V608.6z M569.4,0.1c-23.1,0-41.9,18.8-41.9,41.9v362.4c0,23.1,18.8,41.9,41.9,41.9h362.4
				c23.1,0,41.9-18.8,41.9-41.9V42.1c0-23.1-18.8-41.9-41.9-41.9H569.4z M892.6,365.2H608.6V81.3h283.9V365.2z M780.2,489.6
				c-8-8-18.4-12.3-29.6-12.3c-11.2,0-21.8,4.3-29.6,12.3L489.6,721c-8,8-12.3,18.4-12.3,29.6c0,11.2,4.3,21.8,12.3,29.6L721,1011.5
				c8,8,18.4,12.3,29.6,12.3c11.2,0,21.8-4.3,29.6-12.3l231.4-231.4c8-8,12.3-18.4,12.3-29.6c0-11.2-4.3-21.8-12.3-29.6L780.2,489.6
				z M750.6,926.5L574.7,750.6l175.9-175.9l175.9,175.9L750.6,926.5z" />
        </g>
      </g>
    </g>
  </svg>
</template>
