<template>
  <svg version="1.1" id="url-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 1024 1024" style="enable-background: new 0 0 1024 1024" xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="icon_x2F_menu_x2F_url">
        <g id="Group">
          <path id="Shape" d="M744.7,0.2c36.6,0,71.9,6.9,106,20.7c34,13.8,64.5,34.2,91.4,61.1s47.3,57.4,61.1,91.4
				c13.8,34.1,20.7,69.4,20.7,106c0,36.3-7,71.7-20.9,106c-13.9,34.3-34.2,64.8-60.9,91.4L802.5,616.3c-2.7,2.7-6.7,6.4-12,11.3
				c-25.9,23-54.9,40.5-86.9,52.5c-32,12-64.8,18-98.5,18c-42.4,0-82.5-9.1-120.3-27.3c-28.4-13.3-54-31.5-77.1-54.5
				c-23-23-41.2-48.7-54.5-77.1c18.2-18.2,40.1-27.3,65.8-27.3c9,0,18.1,1.3,27.3,4c15.8,25.4,36.4,46,61.8,61.8
				c29.8,18.2,62.2,27.3,97.1,27.3c24.2,0,47.8-4.6,70.5-13.8c22.8-9.2,43.1-22.8,61.1-40.7l139.6-139.6
				c17.9-17.9,31.5-38.3,40.7-61.1c9.2-22.8,13.8-46.3,13.8-70.5c0-24.2-4.6-47.7-13.8-70.5c-9.2-22.8-22.8-43.1-40.7-61.1
				c-17.9-17.9-38.3-31.5-61.1-40.7c-22.8-9.2-46.3-13.8-70.5-13.8c-24.2,0-47.8,4.6-70.5,13.8s-43.1,22.8-61.1,40.7l-97.8,97.8
				c-31-8.5-63.1-12.7-96.3-12.7c-5.3,0-12.8,0.2-22.5,0.7c4.9-5.3,8.6-9.3,11.3-12L547.3,81.9C574,55.3,604.4,35,638.7,21.1
				C673,7.1,708.3,0.1,744.7,0.2L744.7,0.2z M418.9,325.9c42.4,0,82.5,9.1,120.3,27.3c28.4,13.3,54,31.5,77.1,54.5
				c23,23,41.2,48.7,54.5,77.1c-18.2,18.2-40.1,27.3-65.8,27.3c-9,0-18.1-1.3-27.3-4c-15.8-25.4-36.4-46-61.8-61.8
				c-29.8-18.2-62.2-27.3-97.1-27.3c-24.2,0-47.8,4.6-70.5,13.8c-22.8,9.2-43.1,22.8-61.1,40.7L147.7,613.1
				c-17.9,17.9-31.5,38.3-40.7,61.1c-9.2,22.8-13.8,46.3-13.8,70.5s4.6,47.7,13.8,70.5c9.2,22.8,22.8,43.1,40.7,61.1
				s38.3,31.5,61.1,40.7c22.8,9.2,46.3,13.8,70.5,13.8s47.8-4.6,70.5-13.8c22.8-9.2,43.1-22.8,61.1-40.7l97.8-97.8
				c31,8.5,63.1,12.7,96.3,12.7c5.3,0,12.8-0.2,22.5-0.7c-4.9,5.3-8.6,9.3-11.3,12L476.7,942.1c-26.9,26.9-57.4,47.3-91.4,61.1
				c-34,13.8-69.4,20.7-106,20.7c-36.3,0-71.7-7-106-20.9c-34.3-13.9-64.8-34.2-91.4-60.9c-26.9-26.9-47.3-57.4-61.1-91.4
				c-13.8-34-20.7-69.4-20.7-106c0-36.6,6.9-71.9,20.7-106c13.8-34,34.2-64.5,61.1-91.4l139.6-139.6c2.7-2.7,6.7-6.4,12-11.3
				c25.9-23,54.9-40.5,86.9-52.5C352.4,332,385.2,326,418.9,325.9L418.9,325.9z" />
        </g>
      </g>
    </g>
  </svg>
</template>
