<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
        <path
            d="M0.574331 0.000976562C0.257081 0.000976562 0 0.258058 0 0.575307V5.53096C0 5.84684 0.257081 6.10393 0.572963 6.10393H5.52862C5.8445 6.10393 6.10158 5.84684 6.10158 5.53096V0.575307C6.10158 0.259425 5.8445 0.00234402 5.52862 0.00234402H0.574331V0.000976562ZM4.99258 4.99355H1.11037V1.11135H4.99258V4.99355ZM0 12.7415C0 13.0574 0.257081 13.3145 0.572963 13.3145H5.52862C5.8445 13.3145 6.10158 13.0574 6.10158 12.7415V7.7859C6.10158 7.47001 5.8445 7.21293 5.52862 7.21293H0.574331C0.258449 7.21293 0.00136745 7.47001 0.00136745 7.7859V12.7415H0ZM1.11037 8.32194H4.99258V12.2041H1.11037V8.32194ZM7.78492 0.000976562C7.46904 0.000976562 7.21196 0.258058 7.21196 0.57394V5.52959C7.21196 5.84548 7.46904 6.10256 7.78492 6.10256H12.7406C13.0565 6.10256 13.3135 5.84548 13.3135 5.52959V0.575307C13.3135 0.259425 13.0565 0.00234402 12.7406 0.00234402H7.78492V0.000976562ZM12.2045 4.99355H8.32096V1.11135H12.2032V4.99355H12.2045ZM10.6675 6.69467C10.5581 6.58527 10.4159 6.52647 10.2627 6.52647C10.1096 6.52647 9.96464 6.58527 9.85798 6.69467L6.69369 9.85896C6.58429 9.96835 6.52549 10.1106 6.52549 10.2637C6.52549 10.4169 6.58429 10.5618 6.69369 10.6685L9.85798 13.8314C9.96738 13.9408 10.1096 13.9996 10.2627 13.9996C10.4159 13.9996 10.5609 13.9408 10.6675 13.8314L13.8318 10.6671C13.9412 10.5577 14 10.4155 14 10.2624C14 10.1092 13.9412 9.96425 13.8318 9.85759L10.6675 6.69467ZM10.2627 12.6691L7.85739 10.2637L10.2627 7.85837L12.6681 10.2637L10.2627 12.6691Z"
            fill="#3A3A3A" />
    </svg>
</template>
