<template>
  <svg width="14" height="14" viewBox="0 0 14 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_656_8615)">
      <path
        d="M3.00107 1.2004H5.80107C6.11689 1.2004 6.37666 1.44512 6.39854 1.75958C6.42041 2.07403 6.19346 2.35157 5.88174 2.39395L5.80107 2.39942H3.00107C2.06592 2.39942 1.28662 3.11583 1.20732 4.04688L1.20049 4.1754L1.20322 10.9977C1.20322 11.9438 1.93604 12.7285 2.88076 12.7928L3.00381 12.7969L9.8001 12.7873C10.7448 12.7859 11.5282 12.0545 11.5938 11.1111L11.5979 10.9881V8.18536C11.5979 7.86954 11.8427 7.60841 12.1571 7.58653C12.4716 7.56466 12.7491 7.79024 12.7929 8.10333L12.7983 8.18536V10.9895C12.7983 12.5822 11.5528 13.8975 9.96279 13.985L9.80283 13.9891L3.00791 13.9986L2.84521 13.9945C1.3126 13.9125 0.0889648 12.6902 0.00830078 11.159L0.00419922 10.999L0.00146484 4.20274L0.00419922 4.04005C0.0862305 2.5088 1.30986 1.28653 2.83975 1.2045L3.00107 1.2004ZM8.19775 0.00137329H13.4396L13.5202 0.013678L13.6009 0.035553L13.646 0.0546936C13.6897 0.0738342 13.7308 0.0970764 13.7677 0.127155L13.8237 0.17774L13.8907 0.257037L13.9345 0.329498L13.9659 0.401959L13.981 0.453912L13.9919 0.504498L14.0001 0.581061V5.80508C14.0001 6.1209 13.7554 6.38204 13.4409 6.40391C13.1265 6.42579 12.8489 6.2002 12.8052 5.88712L12.7997 5.80508L12.797 2.04942L7.02334 7.82716C6.81279 8.0377 6.48193 8.06231 6.24268 7.88594L6.17568 7.82852C5.96514 7.61798 5.94053 7.28575 6.11689 7.04649L6.17568 6.9795L11.948 1.20176H8.19775C7.89834 1.20176 7.64404 0.98028 7.60303 0.6836L7.59756 0.601569C7.59756 0.302155 7.81904 0.0478577 8.11572 0.00684204L8.19775 0.00137329Z"
        fill="currentColor" />
    </g>
  </svg>
</template>
