<script setup>
import { NotificationProvider, dispatchNotification } from "../Notification";

import { loginRequest } from "../../helpers/query-api";
import { logging } from "../../utils/logging";

// 登入成功通知訊息
const signInNotification = () => {
  dispatchNotification({ title: "Success!", content: "Login Successful", type: "success" });
};

// 登入失敗通知訊息
const signInErrorNotification = () => {
  dispatchNotification({ title: "Sign Failed!", content: "Getting Error Please contact admin provider", type: "error" });
};

// handle success event
const handleLoginSuccess = (response) => {
  const { credential } = response;
  if (credential) {
    window.sessionStorage.googleCredential = response.credential;
    window.location.href = "/home";
    signInNotification();
  } else {
    window.location.href = "/";
    signInErrorNotification();
  }
};

// handle an error event
const handleLoginError = () => {
  signInErrorNotification();
};
</script>
<template>
  <GoogleSignInButton @success="handleLoginSuccess" @error="handleLoginError" />
  <NotificationProvider />
</template>
