<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path
      d="M10 0C15.5234 0 20 4.47656 20 10C20 15.5234 15.5234 20 10 20C4.47656 20 0 15.5234 0 10C0 4.47656 4.47656 0 10 0ZM13.3496 5.71289L10 8.93164L6.65234 5.71289L5.58594 6.82227L8.89063 10L5.58594 13.1758L6.65234 14.2871L10 11.0664L13.3496 14.2871L14.4141 13.1758L11.1094 10L14.4141 6.82227L13.3496 5.71289Z"
      fill="#F56C6C" />
  </svg>
</template>
