<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path
      d="M10 0C8.02219 0 6.08879 0.58649 4.4443 1.6853C2.79981 2.78412 1.51809 4.3459 0.761209 6.17316C0.00433284 8.00043 -0.1937 10.0111 0.192152 11.9509C0.578004 13.8907 1.53041 15.6725 2.92894 17.0711C4.32746 18.4696 6.10929 19.422 8.0491 19.8078C9.98891 20.1937 11.9996 19.9957 13.8268 19.2388C15.6541 18.4819 17.2159 17.2002 18.3147 15.5557C19.4135 13.9112 20 11.9778 20 10C20 7.34783 18.9464 4.8043 17.0711 2.92893C15.1957 1.05357 12.6522 0 10 0ZM11 14C11 14.2652 10.8946 14.5196 10.7071 14.7071C10.5196 14.8946 10.2652 15 10 15C9.73479 15 9.48043 14.8946 9.2929 14.7071C9.10536 14.5196 9 14.2652 9 14V9C9 8.73478 9.10536 8.48043 9.2929 8.29289C9.48043 8.10536 9.73479 8 10 8C10.2652 8 10.5196 8.10536 10.7071 8.29289C10.8946 8.48043 11 8.73478 11 9V14ZM10 7C9.80222 7 9.60888 6.94135 9.44443 6.83147C9.27998 6.72159 9.15181 6.56541 9.07612 6.38268C9.00044 6.19996 8.98063 5.99889 9.01922 5.80491C9.0578 5.61093 9.15304 5.43274 9.2929 5.29289C9.43275 5.15304 9.61093 5.0578 9.80491 5.01921C9.99889 4.98063 10.2 5.00043 10.3827 5.07612C10.5654 5.15181 10.7216 5.27998 10.8315 5.44443C10.9414 5.60888 11 5.80222 11 6C11 6.13132 10.9741 6.26136 10.9239 6.38268C10.8736 6.50401 10.8 6.61425 10.7071 6.70711C10.6143 6.79996 10.504 6.87362 10.3827 6.92388C10.2614 6.97413 10.1313 7 10 7Z"
      fill="#3B82F6" />
  </svg>
</template>
