<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path
      d="M10 0C15.5226 0 20 4.47744 20 10C20 15.5226 15.5226 20 10 20C4.47744 20 0 15.5226 0 10C0 4.47744 4.47744 0 10 0ZM15.0479 5.52452L8.57199 12.0004L5.90545 9.33385L4.57316 10.6661L8.57199 14.665L16.3802 6.85681L15.0479 5.52452Z"
      fill="#67C23A" />
  </svg>
</template>
