<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none">
    <path
      d="M19.595 14.6289L11.7372 1.58303C10.7801 -0.129564 9.21866 -0.129564 8.26162 1.58303L0.403849 14.6289C-0.553188 16.3415 0.252737 17.7015 2.16681 17.7015H17.8824C19.7461 17.7015 20.552 16.2912 19.595 14.6289ZM9.26903 5.51192C9.26903 5.10895 9.62162 4.75636 10.0246 4.75636C10.4276 4.75636 10.7801 5.10895 10.7801 5.51192V10.8008C10.7801 11.2038 10.4276 11.5564 10.0246 11.5564C9.62162 11.5564 9.26903 11.2038 9.26903 10.8008V5.51192ZM9.97422 14.7801C9.36977 14.7801 8.91644 14.2764 8.91644 13.7223C8.91644 13.1682 9.42014 12.6645 9.97422 12.6645C10.5283 12.6645 11.032 13.1682 11.032 13.7223C11.032 14.2764 10.5787 14.7801 9.97422 14.7801Z"
      fill="#FFB360" />
  </svg>
</template>
