<script setup>
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

import { CalendarIcon } from "../../icons/index";

const props = defineProps({
  date: Object,
  config: Object,
  placeholderStr: String,
  customClass: Array,
});
</script>

<template>
  <div class="p-1 rounded-md w-full">
    <div class="flex justify-start items-center rounded-md mt-1.5 focus-within:border focus-within:border-black hover:border hover:border-black" :class="props.customClass">
      <flat-pickr
        v-model="props.date.dateStr"
        name="date-picker"
        class="rounded-l-md py-2 px-3.5 w-10/12 border-0 ring-0 focus:ring-0 focus:outline-none text-sm font-normal cursor-pointer "
        :config="props.config"
        :placeholder="props.placeholderStr" />
      <div class="flex justify-center items-center w-2/12">
        <CalendarIcon class="h-4 w-4" />
      </div>
    </div>
  </div>
</template>

<!-- Example Structure for Single datepicker only
const date = reactive({
    dateStr: "11-11-2023",
  });
  const dateConfig = ref({
    wrap: true,
    altFormat: "d-m-Y",
    altInput: true,
    enableTime: false,
    mode: "single",
    dateFormat: "d-m-Y",
  });

Example Structure for Range datepicker only
  const dateRange = ref({
    dateStr: "",
  });
  const dateRangeConfig = ref({
    wrap: true,
    altFormat: "d-m-Y",
    altInput: true,
    enableTime: false,
    mode: "range",
    dateFormat: "d-m-Y",
    apply: true,
  }); -->