<script setup>
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

import { ClockIcon } from "../../icons/index";

const props = defineProps({
  datetime: Object,
  config: Object,
  placeholderStr: String,
  customClass: Array,
});
</script>

<template>
  <div class="p-1 rounded-md w-96">
    <div class="flex justify-start items-center rounded-md mt-1.5 focus-within:border focus-within:border-black hover:border hover:border-black" :class="props.customClass">
      <flat-pickr
        v-model="props.datetime.datetimeStr"
        class="rounded-l-md py-2 px-3.5 w-10/12 border-0 ring-0 focus:ring-0 focus:outline-none text-sm font-normal cursor-pointer"
        :config="props.config"
        :placeholder="props.placeholderStr"
        name="datetime-picker" />
      <div class="flex justify-center items-center w-1/6">
        <ClockIcon class="h-4 w-4" />
      </div>
    </div>
  </div>
</template>

<!-- Example Structure for Single datetimepicker only
const datetime = ref({
  datetimeStr: "",
});
const datetimeConfig = ref({
  wrap: true,
  altFormat: "d-m-Y H:i",
  altInput: true,
  enableTime: true,
  dateFormat: "d-m-Y H:i",
  apply: true,
  time_24hr: true,
}); -->