<script setup>
import { reactive, ref, watch } from "vue";

import { ChevronDownIcon } from "@heroicons/vue/20/solid";

// Custom icons
import { ChevronLeftIcon } from "../icons";

// API
import { } from "../helpers/effectivenessAnalysisAPI";

// Constants
import { effectivenessAnalysisTotalURLHeader, effectivenessAnalysisDailyURLHeader } from "../constants/short-url";

import { today, dayBefore } from "../utils/countDate";

// Component
import Datepicker from "../components/DateTime/Datepicker.vue";

// Props
const props = defineProps({
  back: Function,
  loadDropdown: Function,
  loadAnalysis: Function,
  pageID: Object,
  total: Object,
  trend: Object,
  statisticalChart: Object,
  statisticalData: Array,
  trendData: Array,
  dropdownStatus: Object,
  dropdownList: Object,
  dateValue: Object,
  tabStatus: Object,
  statisticalDataLength: Number,
  loadTrendData: Function,
  dailyURLChartOptions: Object,
});

const statisticalDataLoading = ref(false);
const statisticalDataServerOptions = reactive({
  groupID: 0,
  page: 1,
  rowsPerPage: props.statisticalData.length,
});

const trendDataLoading = ref(false);
const trendDataServerItemsLength = ref(0);
const trendDataServerOptions = reactive({
  groupID: 0,
  page: 1,
  rowsPerPage: props.trendData.length,
});

const changeTabs = (tabID) => {
  props.tabStatus.active = tabID;
  const { startDate, endDate } = props.dateValue;

  if (props.tabStatus.active === "統計分析") {
    props.loadAnalysis(startDate, endDate, props.total.groupID, props.total.taskID);
  } else {
    props.loadTrendData(startDate, endDate, props.trend.groupID, props.trend.taskID, props.trend.shortUrl);
  }
};

const multiColOnChange = (defineObj, value) => {
  defineObj.default = value;
};

const loadSubData = (defineObj, value) => {
  defineObj.default = value;
  props.dropdownList.shortURL_col_config.data = [];
  props.dropdownList.shortURL_col_config.default = 0;

  if (value !== 0) {
    props.loadDropdown(props.total.groupID, value);
  }
};

const multiColDataOnMapping = (defineObj, id, transform = false) => {
  if (!transform && defineObj.length > 0) {
    const { text } = defineObj.find((item) => item.value === id);
    return text;
  } else if (transform && defineObj.length > 0) {
    const { value } = defineObj.find((item) => item.text === id);
    return value;
  }
};

// 網站管理 - 成效分析時間區間
const dateRange = reactive({
  dateStr: `${dayBefore(14)} to ${today()}`,
});

// 網站管理 - 成效分析時間格式
const dateRangeConfig = ref({
  wrap: true,
  altFormat: "Y-m-d",
  altInput: true,
  enableTime: false,
  mode: "range",
  dateFormat: "Y-m-d",
  apply: true,
});

const fliterSubmit = () => {
  props.dropdownStatus.active = false;

  let startDate = "";
  let endDate = "";
  if (dateRange.dateStr.includes("to")) {
    let date = dateRange.dateStr.split("to");
    startDate = date[0].trim();
    endDate = date[1].trim();
  } else {
    startDate = dateRange.dateStr;
    endDate = dateRange.dateStr;
  }

  const taskID = props.dropdownList.project_col_config.default === 0 ? "" : props.dropdownList.project_col_config.default;
  const shortURLID = props.dropdownList.shortURL_col_config.default === 0 ? "" : props.dropdownList.shortURL_col_config.default;

  if (props.tabStatus.active === "統計分析") {
    props.total.taskID = taskID;
    props.loadAnalysis(startDate, endDate, props.total.groupID, taskID);
  } else {
    props.trend.taskID = taskID;
    props.trend.shortUrl = shortURLID;
    props.loadTrendData(startDate, endDate, props.trend.groupID, props.trend.taskID, props.trend.shortUrl);
  }
};
watch(
  dateRange,
  () => {
    fliterSubmit();
  },
  { deep: true }
);

</script>

<template>
  <div class="flex-col h-screen" :class="props.pageID.currentPg === 'Effectiveness-Analysis' ? 'flex' : 'hidden'">
    <!-- Header -->
    <header class="flex justify-start items-center space-x-10 bg-white p-4">
      <button class="flex items-center space-x-2 cursor-pointer" @click="props.back">
        <ChevronLeftIcon class="w-2 h-3.5" />
        <span class="text-sm">返回</span>
      </button>
      <span class="text-base">短网址/成效分析</span>
    </header>

    <main class="m-2.5" style="height: calc(100vh - 150px)">
      <!-- Navbar -->
      <nav class="bg-white w-auto rounded-md flex justify-between">
        <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200">
          <ul class="flex flex-wrap -mb-px">
            <li class="px-5 pt-5">
              <a href="#"
                :class="props.tabStatus.active === '統計分析' ? 'active text-blue-600 border-blue-600' : 'hover:text-gray-600 hover:border-gray-300 border-transparent'"
                class="inline-block pb-5 border-b-2 rounded-t-lg text-base" aria-current="page"
                @click="changeTabs('統計分析')">
                統計分析
              </a>
            </li>
            <li class="px-5 pt-5">
              <a href="#"
                :class="props.tabStatus.active === '趨勢分析' ? 'active text-blue-600 border-blue-600' : 'hover:text-gray-600 hover:border-gray-300 border-transparent'"
                class="inline-block pb-5 border-b-2 rounded-t-lg text-base" aria-current="page"
                @click="changeTabs('趨勢分析')">
                趨勢分析
              </a>
            </li>
          </ul>
        </div>
        <div class="flex items-center justify-center pr-5 w-max">
          <!-- Filter -->
          <div class="flex items-center rounded-md mr-4 w-72">
            <div class="relative inline-block text-left w-full">
              <div v-if="props.tabStatus.active === '統計分析'" class="inline-flex w-full justify-between gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 cursor-pointer
               group focus-within:ring-1 focus-within:ring-black hover:ring-1 hover:ring-black"
                @click="dropdownStatus.active = !dropdownStatus.active">
                {{ multiColDataOnMapping(props.dropdownList.project_col_config.data,
                  props.dropdownList.project_col_config.default) }}
                <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400 group-hover:text-black" aria-hidden="true" />
              </div>
              <div v-else class="inline-flex w-full justify-between gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 cursor-pointer
              group  focus-within:ring-1 focus-within:ring-black hover:ring-1 hover:ring-black"
                @click="dropdownStatus.active = !dropdownStatus.active">
                {{ multiColDataOnMapping(props.dropdownList.project_col_config.data,
                  props.dropdownList.project_col_config.default) }} /
                {{ multiColDataOnMapping(props.dropdownList.shortURL_col_config.data,
                  props.dropdownList.shortURL_col_config.default) }}
                <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400 group-hover:text-black" aria-hidden="true" />
              </div>

              <div :class="dropdownStatus.active ? 'flex' : 'hidden'"
                class="flex-col absolute right-0 z-10 mt-2 origin-top-right rounded-md p-1.5 bg-white w-full border border-black shadow-md ring-1 ring-black ring-opacity-5 focus:outline-none">
                <span style="
                    position: absolute;
                    width: 0px;
                    height: 19px;
                    border: 8px solid transparent;
                    border-bottom-color: rgba(0, 0, 0, 1);
                    left: 10%;
                    top: -19px;
                    transform: translate(-10%, 0);
                  "></span>
                <span
                  style="position: absolute; width: 14px; height: 14px; border: 7px solid transparent; border-bottom-color: white; left: 10.1%; top: -14px; transform: translate(-10%, 0)"></span>
                <div v-if="props.tabStatus.active === '統計分析'" class="flex divide-x">
                  <ul class="list-none w-full pr-1">
                    <li v-for="item in props.dropdownList.project_col_config.data">
                      <a href="#"
                        class="flex justify-between items-center rounded-md px-2.5 py-2 text-sm cursor-pointer hover:bg-sky-100 hover:text-blue-600"
                        :class="props.dropdownList.project_col_config.default == item.value ? 'bg-sky-100 text-blue-600' : 'text-gray-700 bg-transparent'"
                        @click="loadSubData(props.dropdownList.project_col_config, item.value)">
                        {{ item.text }}
                      </a>
                    </li>
                  </ul>
                </div>
                <div v-else class="flex divide-x">
                  <ul class="list-none w-1/2 pr-1">
                    <li v-for="item in props.dropdownList.project_col_config.data">
                      <a href="#"
                        class="flex justify-between items-center rounded-md px-2.5 py-2 text-sm cursor-pointer hover:bg-sky-100 hover:text-blue-600"
                        :class="props.dropdownList.project_col_config.default == item.value ? 'bg-sky-100 text-blue-600' : 'text-gray-700 bg-transparent'"
                        @click="loadSubData(props.dropdownList.project_col_config, item.value)">
                        {{ item.text }}
                        <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400 -rotate-90" aria-hidden="true" />
                      </a>
                    </li>
                  </ul>
                  <ul class="list-none w-1/2 pl-1">
                    <li v-for="item in props.dropdownList.shortURL_col_config.data">
                      <a href="#"
                        class="flex justify-between items-center rounded-md px-2.5 py-2 text-sm cursor-pointer hover:bg-sky-100 hover:text-blue-600"
                        :class="props.dropdownList.shortURL_col_config.default == item.value ? 'bg-sky-100 text-blue-600' : 'text-gray-700 bg-transparent'"
                        @click="multiColOnChange(props.dropdownList.shortURL_col_config, item.value)">
                        {{ item.text }}
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="flex justify-end items-center p-2.5 border-t">
                  <button class="flex justify-center bg-transparent border border-gray-400 rounded-md w-20 p-1 mr-2.5"
                    @click="dropdownStatus.active = false">
                    <span class="text-gray-500">取消</span>
                  </button>
                  <button class="flex justify-center bg-blue-500 rounded-md w-20 p-1" @click="fliterSubmit">
                    <span class="text-white">確定</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Datepicker -->
          <div class="block w-72">
            <Datepicker :date="dateRange" :config="dateRangeConfig" placeholderStr=""
              :customClass="['border border-gray-300']" />
          </div>
        </div>
      </nav>

      <section class="flex-col items-center bg-white rounded-md mt-0.5 p-2.5 h-full"
        :class="props.tabStatus.active === '統計分析' ? 'flex' : 'hidden'">
        <div class="block bg-custom-buff rounded-md px-5 py-2.5 w-full">
          <span>點擊數/點擊人數分析</span>
        </div>
        <!-- Chart -->
        <div class="block p-5 w-full">
          <highcharts :options="statisticalChart"></highcharts>
        </div>
        <div class="flex justify-between bg-custom-buff rounded-md px-5 py-2.5 w-full">
          <span>詳細列表</span>
          <button class="bg-black rounded-md px-6 py-1 hidden">
            <span class="text-white"> 下載數據 </span>
          </button>
        </div>
        <!-- Table -->
        <div class="block w-full mb-1 overflow-y-scroll h-max">
          <EasyDataTable class="mb-14" :headers="effectivenessAnalysisTotalURLHeader" :items="props.statisticalData"
            :no-hover="true" hide-footer :rows-per-page="props.statisticalData.length"
            table-class-name="basic-customize-table" body-item-class-name="!border-b !border-b-slate-200"
            v-model:server-options="statisticalDataServerOptions" :server-items-length="statisticalDataLength"
            :loading="statisticalDataLoading">
            <template #customize-headers>
              <thead class="basic-customize-headers">
                <tr class="">
                  <th class="text-center border-b">短網址</th>
                  <th class="text-center border-b">點擊數</th>
                  <th class="text-center border-b">點擊人數</th>
                </tr>
              </thead>
            </template>
            <!-- TODO: onclick event need fix bug -->
            <template #item-text="{ text }">
              <div class="text-center">{{ text }}</div>
            </template>
            <template #item-sum_click_num="{ sum_click_num }">
              <div class="text-center">{{ sum_click_num }}</div>
            </template>
            <template #item-sum_member_click_num="{ sum_member_click_num }">
              <div class="text-center">{{ sum_member_click_num }}</div>
            </template>
          </EasyDataTable>
        </div>
      </section>

      <section class="flex-col items-center bg-white rounded-md mt-0.5 p-2.5 h-full"
        :class="props.tabStatus.active === '趨勢分析' ? 'flex' : 'hidden'">
        <div class="block bg-custom-buff rounded-md px-5 py-2.5 w-full">
          <span>點擊數/點擊人數分析</span>
        </div>
        <!-- Chart -->
        <div class="block p-5 w-full">
          <highcharts :options="dailyURLChartOptions"></highcharts>
        </div>
        <div class="flex justify-between bg-custom-buff rounded-md px-5 py-2.5 w-full">
          <span>詳細列表</span>
          <button class="hidden bg-black rounded-md px-6 py-1">
            <span class="text-white"> 下載數據 </span>
          </button>
        </div>
        <!-- Table -->
        <div class="block w-full mb-1 overflow-y-scroll h-max">
          <EasyDataTable class="mb-14 text-center" :headers="effectivenessAnalysisDailyURLHeader"
            :items="props.trendData" :no-hover="true" hide-footer :rows-per-page="props.trendData.length"
            table-class-name="basic-customize-table" body-item-class-name="!border-b !border-b-slate-200"
            v-model:server-options="trendDataServerOptions" :server-items-length="trendDataServerItemsLength"
            :loading="trendDataLoading">
            <template #customize-headers>
              <thead class="basic-customize-headers">
                <tr class="">
                  <th class="text-center border-b">短網址</th>
                  <th class="text-center border-b">點擊數</th>
                  <th class="text-center border-b">點擊人數</th>
                </tr>
              </thead>
            </template>
            <!-- TODO: onclick event need fix bug -->
            <template #item-text="{ text }">
              <div class="text-center">{{ text }}</div>
            </template>
            <template #item-sum_click_num="{ sum_click_num }">
              <div class="text-center">{{ sum_click_num }}</div>
            </template>
            <template #item-sum_member_click_num="{ sum_member_click_num }">
              <div class="text-center">{{ sum_member_click_num }}</div>
            </template>
          </EasyDataTable>
        </div>
      </section>
    </main>
  </div>
</template>
