<script setup>
import { ref, watch } from "vue";
import Loading from "../components/Loading/Loading.vue";
import Siderbar from "../components/Sidebar/Siderbar.vue";
import BroadcastPage from "./BroadcastPage.vue";
import ShortUrlPage from "./ShortUrlPage.vue";
import OfflineToolsPage from "./OfflineToolsPage.vue";
import SysAccList from "./SysAccList.vue";
import SysAccRole from "./SysAccRole.vue";
import WebGroupManage from "./WebGroupManage.vue";
import { NotificationProvider } from "../components/Notification";

import { useSidebarStore } from "../store/useSidebarStore";

const store = useSidebarStore();
let activePage = ref("");
watch(
  () => store.getActive,
  () => {
    activePage.value = store.getActive;
  }
);
</script>

<template>
  <div class="flex h-screen bg-slate-100 w-screen">
    <Loading />
    <Siderbar />
    <main class="container max-w-full overflow-hidden">
      <BroadcastPage v-if="activePage === 79" />
      <ShortUrlPage v-if="activePage === 87" />
      <OfflineToolsPage v-if="activePage === 104" />
      <SysAccList v-if="activePage === 45" />
      <SysAccRole v-if="activePage === 46" />
      <WebGroupManage v-if="activePage === 82" />
    </main>
    <NotificationProvider />
  </div>
</template>
