<script setup>
import GoogleLoginButton from "../components/Button/GoogleLogin.vue";
import { LogoHome } from "../icons";
</script>

<template>
  <div class="flex flex-center">
    <div class="bg-hero-pattern relative h-screen w-screen flex flex-center bg-no-repeat bg-cover bg-center">
      <div class="flex flex-col justify-center items-center h-full w-full">
        <LogoHome class="h-20 w-56 mb-12" />
        <GoogleLoginButton />
      </div>
      <span class="absolute inset-x-0 bottom-[100px] text-white text-base font-normal w-full text-center"
        style="font-family: Russo One; text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4)">
        Robotic Process Automation
      </span>
    </div>
  </div>
</template>
