<script setup>
import { Dialog, DialogPanel, TransitionChild, TransitionRoot } from "@headlessui/vue";
import { useI18n } from "vue-i18n";

import { CloseIcon, DeleteWarning } from "../../icons";

const props = defineProps({
  status: Boolean,
  text: Object,
  close: Function,
  submit: Function,
});

const { t } = useI18n();
</script>

<template>
  <!-- Delete Modal -->
  <TransitionRoot as="template" :show="status">
    <Dialog as="div" class="relative z-10" @close="close">
      <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100"
        leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      </TransitionChild>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-center justify-center text-center">
          <TransitionChild as="template" enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
            <DialogPanel class="relative transform overflow-hidden rounded-2xl bg-white text-left transition-all"
              style="box-shadow: 0px 18px 0px -10px rgba(247, 127, 119, 1)">
              <div class="w-480 h-80 p-5">
                <div class="flex justify-end">
                  <CloseIcon class="cursor-pointer" @click="close" />
                </div>
                <div class="grid items-center w-full">
                  <!-- TODO: need to make it become image. UI will provide -->
                  <DeleteWarning class="w-28 h-28 mx-auto mb-2.5" />
                  <p class="text-center text-xl text-rose-500 mb-2.5">{{ props.text.title }}</p>
                  <p class="text-center text-sm text-black mb-5">{{ props.text.warningText }}</p>
                </div>
                <div class="px-8 py-4 flex items-center justify-center space-x-4">
                  <button @click="close"
                    class="bg-white text-gray-400 px-3.5 py-2 h-9 rounded-md outline-none border-solid border border-gray-400 hover:text-gray-700 hover:border-gray-700">
                    <div class="w-28 text-sm">{{ t("standard.cancel") }}</div>
                  </button>
                  <button @click="submit"
                    class="bg-red-400 text-white px-3.5 py-2 h-9 rounded-md outline-none hover:bg-red-300">
                    <div class="w-28 text-sm">{{ t("standard.delete") }}</div>
                  </button>
                </div>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
