<script setup>
import { reactive } from "vue";
import { useI18n } from "vue-i18n";

import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from "@headlessui/vue";
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue";
import { ChevronDownIcon } from "@heroicons/vue/20/solid";
import { Popover, PopoverButton, PopoverPanel } from "@headlessui/vue";

import { logging } from "../../utils/logging";

import DeleteModal from "../../components/Modal/DeleteModal.vue";
import Pagination from "../../components/Page/Pagination.vue"

import { dropdownChange } from "../../utils/dropdownChange";

import { labelMgmtHeadersConfig } from "../../constants/broadcast";

// Icons
import { TrashFillIcon, CloseIcon, PlusIcon, TickIcon, SearchIcon } from "../../icons";

// API Function
import { createLabelTag, checkNewLabelTag, deleteLabelTag } from "../../helpers/broadcast/labelsMgmtAPI";

// Props
const props = defineProps({
  createLabel: Object,
  fliterInput: Object,
  serverOptions: Object,
  labelMgmt: Object,
  serverItemsLength: Number,
  loading: Boolean,
  loadFromServer: Function,
});

const { t } = useI18n();

const onSubmitCreateLabels = () => {
  if (props.createLabel.labelName === "" || props.createLabel.label_config.default === "請選擇類型") {
    if (props.createLabel.labelName === "") {
      props.createLabel.nameError = true;
      props.createLabel.nameErrorMsg = "請填入標籤名稱";
    } else
      props.createLabel.nameError = false;
    if (props.createLabel.label_config.default === "請選擇類型")
      props.createLabel.topicError = true;
    else props.createLabel.topicError = false;
  } else {
    checkNewLabelTag({ tag_name: props.createLabel.labelName, topic: props.createLabel.label_config.default })
      .then((response) => {
        // 檢查標籤名稱和標籤類型的組合是否有重複
        // true 是有重複， false 是沒有重複
        const { data } = response;
        if (!data.result) {
          createLabelTag({ tag_name: props.createLabel.labelName, topic: props.createLabel.label_config.default }).then((response) => {
            /**
             * 檢查標籤名稱和標籤類型的組合是否有重複
             * true 是新增成功， false 是新增失敗
             */
            const { data } = response;
            if (data) {
              props.createLabel.status = false;
              props.loadFromServer(props.serverOptions.page, props.serverOptions.rowsPerPage);
            }
          });
        } else {
          props.createLabel.nameError = true;
          props.createLabel.nameErrorMsg = "這個名稱已經被使用了";
          logging("label name or topic reply", "info");
        }
      })
      .catch((err) => logging(err, "error"));
  }
};

const createNewTopic = () => {
  if (props.createLabel.newTopic !== "")
    props.createLabel.label_config.default = props.createLabel.newTopic;
};

// BEGIN: Delete Modal Config
const deleteModal = reactive({
  status: false,
  id: "",
  type: "",
  text: {
    id: "",
    title: "",
    warningText: "",
  },
});

const openDeleteModal = (id, name) => {
  deleteModal.text.id = id;
  deleteModal.text.title = "刪除通知";
  deleteModal.text.warningText = `標籤刪除後將無法復原，確定要刪除標籤 「${name}」？`;
  deleteModal.status = true;
};

const closeDeleteModal = () => {
  deleteModal.status = false;
};

const confirmDeleteNotify = async () => {
  await deleteLabelTag({ tag_code: deleteModal.text.id });
  props.loadFromServer(props.serverOptions.page, props.serverOptions.rowsPerPage);
  closeDeleteModal();
};
</script>

<template>
  <div class="w-full min-h-max relative">
    <section class="flex flex-col bg-white p-2.5  rounded-b-md pb-5 h-full">
      <EasyDataTable class="h-5/6" :headers="labelMgmtHeadersConfig" :items="props.labelMgmt.tableItems"
        :no-hover="true" hide-footer :rows-per-page="10" table-class-name="standard-table"
        body-item-class-name="!border-b !border-b-slate-200" v-model:server-options="props.serverOptions"
        :server-items-length="props.serverItemsLength" :loading="props.loading">
        <template #customize-headers>
          <thead class="standard-headers">
            <tr class="standard-headers">
              <th class="text-left rounded-l-md pl-5 relative">
                代碼
                <span class="after:content-['|'] after:absolute after:right-2.5 after:opacity-5"></span>
              </th>
              <th class="text-left relative pl-5">
                類型
                <span class="after:content-['|'] after:absolute after:right-2.5 after:opacity-5"></span>
              </th>
              <th class="text-left relative pl-5">
                名稱
                <span class="after:content-['|'] after:absolute after:right-2.5 after:opacity-5"></span>
              </th>
              <th class="text-left relative pl-5">
                建立人員
                <span class="after:content-['|'] after:absolute after:right-2.5 after:opacity-5"></span>
              </th>
              <th class="text-center rounded-r-md" style="width: 20%">操作</th>
            </tr>
          </thead>
        </template>

        <template #item-control="{ tag_code, removable, tag_name }">
          <div class="flex justify-center items-center space-x-2 relative w-full" v-if="removable">
            <button class="bg-rose-500 text-white p-2 rounded-md hover:bg-opacity-80"
              @click="openDeleteModal(tag_code, tag_name)">
              <TrashFillIcon class="w-3 h-3" />
            </button>
          </div>
        </template>

        <template #empty-message>
          <section class="h-full" style="height: calc(100vh - 500px)">
            <div class="flex flex-col justify-center items-center w-full h-full">
              <SearchIcon class="text-gray-300 h-8 w-8 mb-2.5" />
              <span class="text-gray-300 text-base"> 未搜尋到結果 </span>
            </div>
          </section>
        </template>
      </EasyDataTable>

      <!-- Pagination -->
      <Pagination :pageObj="props.serverOptions" :tableBodyLength="props.labelMgmt.tableItems.length"></Pagination>
    </section>
  </div>
  <!-- </div> -->

  <!-- Create & Edit Groups Modal -->
  <TransitionRoot as="template" :show="props.createLabel.status">
    <Dialog as="div" class="relative z-10" @close="props.createLabel.status = false">
      <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100"
        leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      </TransitionChild>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-center justify-center text-center">
          <TransitionChild as="template" enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
            <DialogPanel class="relative transform overflow-hidden rounded-2xl bg-white text-left transition-all"
              style="box-shadow: 0px 18px 0px -10px rgba(69, 114, 255, 1)">
              <div class="w-480 h-80 p-5 pb-8 overflow-y-auto overflow-x-hidden">
                <div class="flex justify-center items-center pb-5">
                  <DialogTitle>{{ t("standard.create") }}{{ t("standard.label") }}</DialogTitle>
                  <CloseIcon class="absolute right-5 top-5" @click="props.createLabel.status = false" />
                </div>
                <div class="flex flex-col items-start px-16">
                  <span> 標籤名称 </span>
                  <label class="relative block mb-5 mt-1.5 w-full">
                    <div class="flex items-center border  rounded-md p-2 pr-3 focus:outline-none
                    focus-within:border focus-within:border-black hover:border hover:border-black"
                      :class="props.createLabel.nameError ? 'border-red-500' : 'border-slate-300'">
                      <input
                        class="placeholder:text-slate-400 block bg-white w-full outline-none border-none focus:outline-none focus:border-none focus:ring-0 p-0 text-sm"
                        placeholder="请输入標籤名稱" type="text" name="label-name" autocomplete="off"
                        v-model="props.createLabel.labelName" maxlength="100" />
                      <small class="text-slate-400" v-text="props.createLabel.labelName.length"></small>
                      <small class="text-slate-400"> / </small>
                      <small class="text-slate-400">100</small>
                    </div>
                    <!-- <span class="text-xs font-normal text-red-500 mt-1"
                      :class="props.createLabel.repeatError ? 'flex' : 'hidden'"> 這個名稱已經被使用了 </span> -->
                    <span class="text-xs font-normal text-red-500 mt-1"
                      :class="props.createLabel.nameError ? 'flex' : 'hidden'"> {{ props.createLabel.nameErrorMsg }}
                    </span>
                  </label>

                  <div class="flex justify-between w-full">
                    <span> 類型 </span>
                    <Popover class="relative text-white p-2 rounded-md">
                      <PopoverButton
                        class="flex items-center justify-center space-x-1 outline-none focus:outline-none cursor-pointer text-black hover:border-blue-500 hover:text-blue-500">
                        <PlusIcon
                          class="w-3.5 h-3.5 p-px rounded-full text-current border-solid border border-current" />
                        <span class="text-sm font-normal"> 新增類型 </span>
                      </PopoverButton>

                      <PopoverPanel class="absolute -top-10 -right-20 z-0">
                        <div
                          class="flex justify-center items-center drop-shadow-md rounded-md bg-white p-2.5 space-x-2">
                          <!-- <input type="text" class="rounded-md  border-slate-400  text-sm text-black" placeholder="輸入類型名稱1" /> -->
                          <label class="relative block w-40">
                            <div class="flex items-center border rounded-md py-1 px-2.5 focus:outline-none
                              focus-within:border focus-within:border-black hover:border hover:border-black">
                              <input
                                class="placeholder:text-slate-400 block bg-white w-full outline-none border-none focus:outline-none focus:border-none focus:ring-0 p-0 text-sm text-black"
                                placeholder="輸入類型名稱" type="text" name="label-name" autocomplete="off"
                                v-model="props.createLabel.newTopic" />
                            </div>
                          </label>
                          <PopoverButton
                            class="rounded-md bg-blue-500 w-6 h-6 flex justify-center items-center hover:opacity-80"
                            @click="createNewTopic()">
                            <TickIcon class="w-3 h-3" />
                          </PopoverButton>
                          <PopoverButton
                            class="rounded-md bg-red-500 w-6 h-6 flex justify-center items-center hover:opacity-80">
                            <!-- TODO: fix later, close icon size too big. size need control outside components -->
                            <svg version="1.1" id="close-icon" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1024 1024"
                              style="enable-background: new 0 0 1024 1024" xml:space="preserve" fill="currentColor"
                              class="w-3 h-3">
                              <g id="Symbols">
                                <g id="Icon_x2F_X">
                                  <g id="X">
                                    <path id="Path" d="M512,441.5L943.6,9.9c13-12.9,34-12.9,47,0l23.5,23.5c13,13,13,34,0,47L582.5,512l431.6,431.6
				c12.9,13,12.9,34,0,47l-23.5,23.5c-13,13-34,13-47,0L512,582.5L80.4,1014.1c-13,12.9-34,12.9-47,0L9.9,990.6c-13-13-13-34,0-47
				L441.5,512L9.9,80.4c-12.9-13-12.9-34,0-47L33.4,9.9c13-13,34-13,47,0L512,441.5L512,441.5z" />
                                  </g>
                                </g>
                              </g>
                            </svg>
                          </PopoverButton>
                        </div>
                      </PopoverPanel>
                    </Popover>
                  </div>
                  <Menu as="div" class="relative inline-block text-left mt-1.5 w-full">
                    <div>
                      <MenuButton
                        class="hover:ring-1 hover:ring-black group inline-flex w-full justify-between gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 "
                        :class="props.createLabel.topicError ? 'ring-red-500' : ''">
                        {{ props.createLabel.label_config.default }}
                        <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400 group-hover:text-black"
                          aria-hidden="true" />
                      </MenuButton>
                    </div>
                    <span class="text-xs font-normal text-red-500 mt-1"
                      :class="props.createLabel.topicError ? 'flex' : 'hidden'">請選擇類型 </span>
                    <transition enter-active-class="transition ease-out duration-100"
                      enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100"
                      leave-active-class="transition ease-in duration-75"
                      leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
                      <MenuItems
                        class="absolute left-0 z-50 mt-2 w-full origin-top-left rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                        <div class="py-1 overflow-auto">
                          <MenuItem v-slot="{ active }" v-for="item in props.createLabel.label_config.data">
                          <a href="#"
                            :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block px-4 py-2 text-sm']"
                            @click="dropdownChange(props.createLabel.label_config, item.value)">
                            {{ item.text }}
                          </a>
                          </MenuItem>
                        </div>
                      </MenuItems>
                    </transition>
                  </Menu>
                </div>
                <!-- Footer Button -->
                <div class="mt-9 flex items-center justify-center space-x-2.5 px-16">
                  <button @click="props.createLabel.status = false"
                    class="bg-white text-gray-400 px-3.5 py-2 h-9 rounded-md outline-none border-solid border border-gray-400 hover:text-gray-700 hover:border-gray-700">
                    <div class="w-28 text-sm">
                      {{ t("standard.cancel") }}
                    </div>
                  </button>
                  <button @click="onSubmitCreateLabels"
                    class="bg-blue-400 text-white px-3.5 py-2 h-9 rounded-md outline-none hover:bg-blue-300">
                    <div class="w-28 text-sm">
                      {{ t("standard.create") }}
                    </div>
                  </button>
                </div>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>

  <DeleteModal :status="deleteModal.status" :text="deleteModal.text" :close="closeDeleteModal"
    :submit="confirmDeleteNotify" />
</template>
