<script setup>
import { useLoadingStore } from "../../store/useLoadingStore";

const store = useLoadingStore();
</script>

<template>
  <div class="loading-container" :class="store.getStatus ? 'block' : 'hidden'">
    <div class="cell">
      <div class="card">
        <span class="dots-loader">Loading&#8230;</span>
      </div>
    </div>
  </div>
</template>

<style>
.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100vh;
  width: 100vw;
  z-index: 9999;
}

.cell {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: table;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 200px;
}
</style>
