<script setup>
import { ref, onBeforeMount } from "vue";
import { useI18n } from "vue-i18n";

import { useSidebarStore } from "../../store/useSidebarStore";
import { useLoadingStore } from "../../store/useLoadingStore";
import Siderbaritem from "./SiderbarItem.vue";
import { LogoutIcon, LanguageIcon, SidebarCloseIcon, SidebarOpenIcon } from "./icons";
import { TickIcon } from "../../icons";

import { langConfig, currentService } from "../../constants/sidebar";
import { Logo } from "../../icons";

const { t, locale } = useI18n();
const isOpen = ref(false);
const username = sessionStorage.getItem("name");
const userimg = sessionStorage.getItem("profileImg");

const store = useSidebarStore();
const loadingStore = useLoadingStore();

const VERSION = __APP_VERSION__;
const YEAR = new Date().getFullYear();

function siderbarToggle(e) {
  isOpen.value = !isOpen.value;
  e.stopPropagation();
}

function switchTab(target) {
  store.updateSidebarActive(target);
}

function logout() {
  window.sessionStorage.clear();
  window.sessionStorage.removeItem("googleCredential");
  window.location.href = "/";
}

const dropdownChange = (defineObj, value) => {
  defineObj.default = value;
  locale.value = value.split(".")[1];
};

onBeforeMount(() => {
  loadingStore.on();
  store.$patch((state) => {
    const active = currentService
    const mainActive = active[0];
    const subActive = active[1]
    state.active = mainActive;
    state.subActive = subActive;
  });
  store.$patch((state) => {
    state.permission.push({
      main_func_eng_name: "站群推播",
      func_sn: 79
    });
  });
  store.$patch((state) => {
    state.permission.push({
      main_func_eng_name: "短網址",
      func_sn: 87
    });
  });
  store.$patch((state) => {
    state.permission.push({
      main_func_eng_name: "設定",
      func_sn: 43,
      subListStatus: true,
      sublist: [{
        func_eng_name: "使用者管理",
        func_sn: 45
      }, {
        func_eng_name: "權限管理",
        func_sn: 46
      }, {
        func_eng_name: "群組管理",
        func_sn: 82
      }]
    });
  });
  loadingStore.off();
});
</script>
<template>
  <div class="flex duration-300 bg-white" :class="isOpen ? 'w-80' : 'w-64'">
    <div class="w-full">
      <!-- Menu -->
      <div class="flex flex-col h-full">
        <!-- aside header -->
        <div :class="isOpen ? 'justify-center' : 'justify-between'" class="flex items-center pt-3.5 px-5">
          <Logo :class="isOpen ? 'hidden' : 'flex'" class="h-8 w-28" />
          <button @click="siderbarToggle">
            <SidebarCloseIcon class="w-5 h-5 hover:opacity-80" v-if="!isOpen" />
            <SidebarOpenIcon class="w-5 h-5 hover:opacity-80" v-if="isOpen" />
          </button>
        </div>

        <div class="flex flex-col flex-1">
          <ul class="pt-4 text-base">
            <Siderbaritem :isOpen="isOpen" v-for="item in store.permission" :title="item.main_func_eng_name"
              :key="item.main_func_eng_name" :id="item.func_sn" :actions="switchTab" :active="store.getActive"
              :hasSubList="item.subListStatus" :subItem="item.sublist" />
          </ul>
        </div>

        <div class="flex flex-col text-black">
          <hr class="px-2" />
          <ul class="text-sm">
            <li class="rounded-sm group">
              <a href="#" class="flex justify-center items-center px-4 py-2 rounded-md text-black">
                <img :src="userimg" alt="userimg" class="rounded-full w-6 h-6" />
                <div :class="isOpen ? 'hidden ml-0' : ' ml-2.5'" class="flex justify-between items-center w-full">
                  <span class="text-black text-base"> {{ t("sidebar.accInfo") }} </span>
                  <span class="text-black text-base"> {{ username }} </span>
                </div>
              </a>
            </li>
          </ul>
          <hr />

          <ul class="pt-2 pb-4 textbase text-black">
            <li class="rounded-sm hover:bg-blue-50 cursor-pointer relative group">
              <a href="#" :class="isOpen ? 'justify-center' : ''"
                class="flex items-center px-5 py-2 space-x-4 rounded-md text-black">
                <LanguageIcon class="w-5 h-5" />
                <div :class="isOpen ? 'hidden' : ''" class="flex flex-row ml-3.5 justify-between w-full">
                  <span class="text-black text-base"> {{ t("sidebar.language") }} </span>
                  <span class="text-black text-base"> {{ t(`${langConfig.default}`) }} </span>
                </div>
              </a>
              <div
                class="hidden grid-cols-1 absolute left-full top-0 bg-white drop-shadow-sm w-32 space-y-2 group-hover:grid z-50">
                <a href="#" class="flex items-center justify-start px-5 h-11 hover:bg-blue-50 cursor-pointer"
                  :class="langConfig.default === 'lang.tw' ? 'text-blue-500' : ''"
                  @click="dropdownChange(langConfig, 'lang.tw')">
                  {{ t("lang.tw") }}
                  <TickIcon class="ml-auto w-3 h-3 text-blue-500 rounded-full"
                    v-if="langConfig.default === 'lang.tw'" />
                </a>
                <a href="#" class="flex items-center justify-start px-5 h-11 hover:bg-blue-50 cursor-pointer"
                  :class="langConfig.default === 'lang.cn' ? 'text-blue-500' : ''"
                  @click="dropdownChange(langConfig, 'lang.cn')">
                  {{ t("lang.cn") }}
                  <TickIcon class="ml-auto w-3 h-3 text-blue-500 rounded-full"
                    v-if="langConfig.default === 'lang.cn'" />
                </a>
              </div>
            </li>

            <li class="hover:bg-blue-50 cursor-pointer">
              <a href="#" :class="isOpen ? 'justify-center' : ''"
                class="flex items-center px-5 py-2 space-x-4 text-black" @click="logout">
                <LogoutIcon class="w-5 h-5" />
                <div :class="isOpen ? 'hidden' : ''" class="flex flex-col ml-3.5 text-center">
                  <span class="text-black text-base"> {{ t("sidebar.logout") }} </span>
                </div>
              </a>
            </li>

            <li :class="isOpen ? 'hidden' : 'flex'" class="duration-300">
              <a href="#" class="flex flex-row items-center px-5 py-2 space-x-3 rounded-md">
                <div class="flex flex-col">
                  <span class="text-black text-sm"> Version {{ VERSION }} | &copy; RPA {{ YEAR }} </span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
