<script setup>
import { PermissionsIcon, UserSettingsIcon, UserGroupsIcon } from "./icons";

const props = defineProps({
  title: String,
  id: Number,
  isOpen: Boolean,
  actions: Function,
  active: Number,
  availableList: Array,
  subMenuIsOpen: Boolean,
});

</script>

<template>
  <li class="rounded-none hover:bg-blue-50 cursor-pointer text-base py-2"
    :class="props.active === props.id ? 'bg-blue-50 text-blue-600 border-r-4 border-blue-500' : 'bg-transparent text-black'">
    <a href="#" :class="props.isOpen ? 'pl-5' : 'pl-10'" class="flex items-center px-5 rounded-md"
      @click="actions(props.id)">
      <UserSettingsIcon class="w-5 h-5" v-if="props.id === 45" />
      <PermissionsIcon class="w-5 h-5" v-if="props.id === 46" />
      <UserGroupsIcon class="w-5 h-5" v-if="props.id === 82" />
      <span class="ml-4">{{ props.title }}</span>
    </a>
  </li>
</template>
