<script setup>
import { ref } from "vue";

import SiderbarSubItem from "./SiderbarSubItem.vue";

import { BoardcastIcon, SettingIcon, ToolsIcon, LinkIcon, ChevronRightIcon, ChevronDownIcon } from "./icons";

const props = defineProps({
  title: String,
  id: Number,
  isOpen: Boolean,
  actions: Function,
  active: Number,
  hasSubList: Boolean,
  subItem: Object,
});

let subMenuIsOpen = ref(false);
const toggleSubMenu = () => {
  subMenuIsOpen.value = !subMenuIsOpen.value;
};
</script>

<template>
  <hr v-if="props.id == 43" />
  <div v-if="hasSubList">
    <div :class="props.isOpen ? 'group' : ''">
      <li class="rounded-none hover:bg-blue-50 cursor-pointer text-base" @click="toggleSubMenu">
        <a href="#" :class="props.isOpen ? 'justify-center' : ''" class="flex items-center px-5 py-2 rounded-md">
          <SettingIcon class="w-5 h-5" v-if="props.id === 43" />
          <span :class="props.isOpen ? 'hidden ml-0' : 'ml-4'">{{ props.title }}</span>
          <ChevronRightIcon :class="props.isOpen ? 'hidden' : 'flex'" class="ml-auto h-2.5 w-2.5 rotate-90"
            v-if="subMenuIsOpen" />
          <ChevronRightIcon :class="props.isOpen ? 'hidden' : 'flex'" class="ml-auto h-2.5 w-2.5"
            v-if="!subMenuIsOpen" />
        </a>
      </li>
    </div>

    <div class="relative h-100">
      <ul
        :class="[subMenuIsOpen ? 'grid' : 'hidden', subMenuIsOpen && props.isOpen ? 'grid-cols-1 absolute left-full top-0 bg-white drop-shadow-sm w-max z-10' : '']"
        class="flex-col">
        <SiderbarSubItem v-for="item in props.subItem" :title="item.func_eng_name" :key="item.func_eng_name"
          :id="item.func_sn" :actions="props.actions" :active="props.active" :isOpen="props.isOpen"
          :subMenuIsOpen="subMenuIsOpen" />
      </ul>
    </div>
  </div>

  <li class="rounded-none hover:bg-blue-50 cursor-pointer text-base "
    :class="[active === props.id ? 'bg-blue-50 text-blue-600 border-r-4 border-blue-500' : 'bg-transparent text-black', props.isOpen ? 'group' : '']"
    v-else>
    <a href="#" :class="props.isOpen ? 'justify-center' : ''" class="flex items-center px-5 py-2 rounded-md"
      @click="actions(props.id)">
      <BoardcastIcon class="w-5 h-5" v-if="props.id === 79" />
      <LinkIcon class="w-5 h-5" v-if="props.id === 87" />
      <ToolsIcon class="w-5 h-5" v-if="props.id === 104" />
      <SettingIcon class="w-5 h-5" v-if="props.id === 43" />

      <span span :class="props.isOpen ? 'hidden ml-0' : 'ml-4'"> {{ props.title }} </span>
    </a>
  </li>
</template>
