<script setup>
import { computed } from "vue";
import { ChevronLeftIcon, ChevronRightIcon } from "../../icons";

const props = defineProps({
  pageObj: Object,
  tableBodyLength: Number,
  otherFunc: Function
});

const from = computed(() => ((props.pageObj.page - 1) * props.pageObj.rowsPerPage) + 1);
const to = computed(() => (props.pageObj.page * props.pageObj.rowsPerPage) > props.pageObj.totalNum ? props.pageObj.totalNum : (props.pageObj.page * props.pageObj.rowsPerPage));

const maxPaginationNumber = computed(() => Array.from({ length: Math.ceil(props.pageObj.totalPgSize) }, (v, i) => i + 1));
const currentPaginationNumber = computed(() => props.pageObj.page);
const issFirstPage = computed(() => currentPaginationNumber.value === 1);
const isLastPage = computed(() => currentPaginationNumber.value === Math.ceil(props.pageObj.totalPgSize));

const nextPage = () => {
  props.pageObj.page = props.pageObj.page + 1;
  if (props.otherFunc != undefined)
    props.otherFunc();
};

const prevPage = () => {
  props.pageObj.page = props.pageObj.page - 1;
  if (props.otherFunc != undefined)
    props.otherFunc();
};

const updatePage = (paginationNumber) => {
  props.pageObj.page = paginationNumber;
  if (props.otherFunc != undefined)
    props.otherFunc();
};
</script>

<template>
  <div v-if="props.tableBodyLength > 0" class="customize-footer flex items-center justify-center mt-14">
    <div class="absolute left-6">
      {{ from }}-{{ to }} / 共 {{ props.pageObj.totalNum }} 筆
    </div>

    <div class="customize-pagination flex justify-center items-center">
      <button :class="issFirstPage ? 'opacity-20 cursor-not-allowed' : 'cursor-pointer'"
        class="prev-page flex justify-center items-center bg-white-200 w-8 h-8" @click="prevPage"
        :disabled="issFirstPage">
        <ChevronLeftIcon class="w-3 h-3 m-0" />
      </button>
    </div>

    <div class="customize-buttons flex justify-center items-center gap-x-2.5 m-0">
      <span v-if="maxPaginationNumber <= 10" v-for="paginationNumber in maxPaginationNumber"
        class="customize-button bg-white-200 cursor-pointer w-8 h-8 flex justify-center items-center"
        :class="[{ active: paginationNumber === currentPaginationNumber }, paginationNumber === currentPaginationNumber ? `text-black border-b border-slate-500` : '']"
        @click="updatePage(paginationNumber)">
        {{ paginationNumber }}
      </span>

      <span v-else v-for="paginationNumber in maxPaginationNumber"
        class="customize-button bg-white-200 cursor-pointer w-8 h-8 justify-center items-center" :class="[
          { active: paginationNumber === currentPaginationNumber },
          paginationNumber === currentPaginationNumber ? `text-black border-b border-slate-500` : '',
          paginationNumber >= currentPaginationNumber - 4 && paginationNumber < currentPaginationNumber + 4 ? 'flex' : 'hidden',
        ]" @click="updatePage(paginationNumber)">
        {{ paginationNumber }}
      </span>
    </div>

    <div class="customize-pagination flex justify-center items-center">
      <button :class="isLastPage ? 'opacity-20 cursor-not-allowed' : 'cursor-pointer'"
        class="next-page flex justify-center items-center bg-white-200 w-8 h-8 " @click="nextPage"
        :disabled="isLastPage">
        <ChevronRightIcon class="w-3 h-3 m-0" />
      </button>
    </div>
  </div>
</template>