<script setup>
import { watch, reactive } from "vue";
import { useI18n } from "vue-i18n";

import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue";
import { Dialog, DialogPanel, TransitionChild, TransitionRoot, DialogTitle } from "@headlessui/vue";
import { Popover, PopoverButton, PopoverPanel } from "@headlessui/vue";

import { dropdownChange } from "../../../utils/dropdownChange";

// Controller
import { useLoadingStore } from "../../../store/useLoadingStore";

import { PlusIcon, CloseIcon, TickIcon } from "../../../icons";
import { ChevronDownIcon } from "@heroicons/vue/20/solid";

// Constant Value
import { RULES_HEADER_CONFIG } from "../../../constants/offlineTools";

import { otGetOnlyModuleData, otCreateRule } from "../../../helpers/offlineTool/rulesAPI";

import Pagination from "../../../components/Page/Pagination.vue";

// Props
const props = defineProps({
  otRuleServerOptions: Object,
  otRuleServerItemsLength: Object,
  otRule: Object,
  otRuleLoading: Boolean,
  ruleFliterOnSubmit: Function,
  changeCreateRuleOpenStatus: Function,
  openCreateRule: Object,
});

const loadingStore = useLoadingStore();
const { t } = useI18n();

const moduleData = reactive({
  default: "請選擇",
  list: [],
});

const getModulesData = () => {
  // otGetOnlyModuleData({})
  //   .then((response) => {
  //     const { result } = response.data;
  //     moduleData.list = result;
  //     createInfo.isOpen = true;
  //     loadingStore.off();
  //   })
  //   .catch((err) => {
  //     console.error({ err });
  //     loadingStore.off();
  //   });

  // props.changeCreateRuleOpenStatus(false);
};

const createInfo = reactive({
  isOpen: false,
  moduleError: false,
  submoduleName: "",
  submoduleError: false,
  moduleName: "",
});

const createInit = () => {
  (createInfo.moduleID = 0), (createInfo.moduleName = ""), (createInfo.moduleError = false), (createInfo.submoduleName = ""), (createInfo.submoduleError = false);
  moduleData.default = "請選擇";
  moduleData.list = [];
};

//新增一個新的功能 但只是功能下拉選單增加選項 還沒有真的寫入資料庫
const createNewModule = () => {
  createInfo.moduleName = createInfo.moduleName.trim();
  if (createInfo.moduleName !== "") {
    moduleData.list.push({ value: 0, text: createInfo.moduleName });
    moduleData.default = createInfo.moduleName;
  }
};

//新增權限到資料庫
const onSubmitAddModule = () => {
  // loadingStore.on();
  // if (moduleData.default === "請選擇" || moduleData.default === "")
  //     createInfo.moduleError = true;
  // else
  //     createInfo.moduleError = false;
  // if (createInfo.submoduleName === "")
  //     createInfo.submoduleError = true;
  // else
  //     createInfo.submoduleError = false;
  // if (!createInfo.moduleError && !createInfo.submoduleError) {
  //     const module = moduleData.list?.find((item) => item?.text == moduleData.default);
  //     otCreateRule({
  //         module_code: module.value,
  //         module_name: module.text,
  //         submodule_name: createInfo.submoduleName
  //     })
  //         .then((response) => {
  //             loadingStore.off();
  //             createInfo.isOpen = false;
  //             props.ruleFliterOnSubmit()
  //         })
  //         .catch((err) => {
  //             console.error({ err });
  //             loadingStore.off();
  //         });
  //     loadingStore.off();
  // } else {
  //     loadingStore.off();
  // }
};

watch(
  props.openCreateRule,
  () => {
    if (props.openCreateRule.createOpen) {
      loadingStore.on;
      createInit();
      getModulesData();
    }
  },
  { deep: true }
);
</script>

<template>
  <!-- Table -->
  <div class="w-full min-h-max relative">
    <section class="flex flex-col bg-white p-2.5 shadow-sm rounded-b-md pb-5 h-full">
      <!-- Table -->
      <EasyDataTable
        :headers="RULES_HEADER_CONFIG"
        show-index
        :items="props.otRule.tableItems"
        :no-hover="true"
        hide-footer
        :rows-per-page="props.otRuleServerOptions.rowsPerPage"
        table-class-name="customize-table [&>*:first-child]:h-full"
        body-item-class-name="!border-b !border-b-slate-200"
        v-model:server-options="props.otRuleServerOptions"
        :server-items-length="props.otRuleServerItemsLength.size"
        :loading="props.otRuleLoading"
        style="display: block; --8bb50160: 100%; height: 100%">
        <template #customize-headers>
          <thead class="standard-headers">
            <tr class="standard-headers">
              <th class="text-left rounded-l-md pl-5 relative">
                序號
                <span class="after:content-['|'] after:absolute after:right-0 after:opacity-5"></span>
              </th>
              <th class="text-left relative pl-5">
                功能
                <span class="after:content-['|'] after:absolute after:right-0 after:opacity-5"></span>
              </th>
              <th class="text-left relative pl-5">
                渠道
                <span class="after:content-['|'] after:absolute after:right-0 after:opacity-5"></span>
              </th>
            </tr>
          </thead>
        </template>

        <template #empty-message>
          <section class="h-full" style="height: calc(100vh - 500px)">
            <div class="flex flex-col justify-center items-center w-full h-full">
              <span class="text-gray-300 text-base">無資料</span>
            </div>
          </section>
        </template>
      </EasyDataTable>
      <!-- Pagination -->
      <Pagination :pageObj="props.otRuleServerOptions" :tableBodyLength="props.otRule.tableItems.length"> </Pagination>
    </section>
  </div>

  <!-- Create & Edit Groups Modal -->
  <TransitionRoot as="template" :show="createInfo.isOpen">
    <Dialog as="div" class="relative z-10" @close="createInfo.isOpen = false">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      </TransitionChild>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-center justify-center text-center">
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
            <DialogPanel class="relative transform overflow-hidden rounded-2xl bg-white text-left transition-all" style="box-shadow: 0px 18px 0px -10px rgba(69, 114, 255, 1)">
              <div class="w-480 h-80 p-5 pb-8 overflow-y-auto overflow-x-hidden">
                <div class="flex justify-center items-center pb-5">
                  <DialogTitle>{{ t("standard.create") }}{{ t("standard.permission") }}</DialogTitle>
                  <CloseIcon class="absolute right-5 top-5" @click="createInfo.isOpen = false" />
                </div>
                <div class="flex flex-col items-start px-16">
                  <div class="flex justify-between w-full">
                    <span> 功能 </span>
                    <Popover class="relative text-white rounded-md">
                      <PopoverButton
                        @click="createInfo.moduleName = ''"
                        class="flex items-center justify-center space-x-1 outline-none focus:outline-none cursor-pointer text-black hover:border-blue-500 hover:text-blue-500">
                        <PlusIcon class="w-3.5 h-3.5 p-px rounded-full text-current border-solid border border-current" />
                        <span class="text-sm font-normal">新增功能 </span>
                      </PopoverButton>

                      <PopoverPanel class="absolute -top-10 -right-20 z-0">
                        <div class="flex justify-center items-center drop-shadow-md rounded-md bg-white p-2.5 space-x-2">
                          <label class="relative block w-40">
                            <div
                              class="flex items-center border border-slate-300 rounded-md py-1 px-2.5 focus:outline-none focus-within:border focus-within:border-black hover:border hover:border-black">
                              <input
                                class="placeholder:text-slate-400 block bg-white w-full outline-none border-none focus:outline-none focus:border-none focus:ring-0 p-0 text-sm text-black"
                                placeholder="輸入功能名稱"
                                type="text"
                                name="label-name"
                                autocomplete="off"
                                v-model="createInfo.moduleName" />
                            </div>
                          </label>
                          <PopoverButton class="rounded-md bg-blue-500 w-6 h-6 flex justify-center items-center hover:opacity-80" @click="createNewModule()">
                            <TickIcon class="w-3 h-3" />
                          </PopoverButton>
                          <PopoverButton class="rounded-md bg-red-500 w-6 h-6 flex justify-center items-center hover:opacity-80">
                            <!-- TODO: fix later, close icon size too big. size need control outside components -->
                            <svg
                              version="1.1"
                              id="close-icon"
                              xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink"
                              x="0px"
                              y="0px"
                              viewBox="0 0 1024 1024"
                              style="enable-background: new 0 0 1024 1024"
                              xml:space="preserve"
                              fill="currentColor"
                              class="w-3 h-3">
                              <g id="Symbols">
                                <g id="Icon_x2F_X">
                                  <g id="X">
                                    <path
                                      id="Path"
                                      d="M512,441.5L943.6,9.9c13-12.9,34-12.9,47,0l23.5,23.5c13,13,13,34,0,47L582.5,512l431.6,431.6
				c12.9,13,12.9,34,0,47l-23.5,23.5c-13,13-34,13-47,0L512,582.5L80.4,1014.1c-13,12.9-34,12.9-47,0L9.9,990.6c-13-13-13-34,0-47
				L441.5,512L9.9,80.4c-12.9-13-12.9-34,0-47L33.4,9.9c13-13,34-13,47,0L512,441.5L512,441.5z" />
                                  </g>
                                </g>
                              </g>
                            </svg>
                          </PopoverButton>
                        </div>
                      </PopoverPanel>
                    </Popover>
                  </div>
                  <Menu as="div" class="relative inline-block text-left mt-1.5 w-full" :class="createInfo.moduleError ? '' : 'mb-5'">
                    <div>
                      <MenuButton
                        class="inline-flex w-full justify-between gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-1 hover:ring-black group"
                        :class="createInfo.moduleError ? 'ring-red-500' : ''">
                        {{ moduleData.default }}
                        <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400 group-hover:text-black" aria-hidden="true" />
                      </MenuButton>
                    </div>

                    <transition
                      enter-active-class="transition ease-out duration-100"
                      enter-from-class="transform opacity-0 scale-95"
                      enter-to-class="transform opacity-100 scale-100"
                      leave-active-class="transition ease-in duration-75"
                      leave-from-class="transform opacity-100 scale-100"
                      leave-to-class="transform opacity-0 scale-95">
                      <MenuItems class="absolute left-0 z-50 mt-2 w-full origin-top-left rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                        <div class="py-1 overflow-auto">
                          <MenuItem v-slot="{ active }" v-for="item in moduleData.list">
                            <a href="#" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block px-4 py-2 text-sm']" @click="dropdownChange(moduleData, item.text)">
                              {{ item.text }}
                            </a>
                          </MenuItem>
                        </div>
                      </MenuItems>
                    </transition>
                  </Menu>
                  <span class="text-xs font-normal text-red-500 mt-1 mb-5" :class="createInfo.moduleError ? 'flex' : 'hidden'"> 未選擇 </span>

                  <span> 渠道 </span>
                  <label class="relative block mt-1.5 w-full">
                    <div
                      class="flex items-center border border-slate-300 rounded-md p-2 pr-3 focus:outline-none focus-within:border focus-within:border-black hover:border hover:border-black"
                      :class="createInfo.submoduleError ? 'border !border-red-500' : ''">
                      <input
                        class="placeholder:text-slate-400 block bg-white w-full outline-none border-none focus:outline-none focus:border-none focus:ring-0 p-0 text-sm"
                        placeholder="请输入渠道名稱"
                        type="text"
                        name="label-name"
                        autocomplete="off"
                        :maxlength="45"
                        v-model="createInfo.submoduleName"
                        maxlength="100" />
                      <small class="text-slate-400" v-text="createInfo.submoduleName.length"></small>
                      <small class="text-slate-400"> / </small>
                      <small class="text-slate-400">45</small>
                    </div>
                    <span class="text-xs font-normal text-red-500 mt-1" :class="createInfo.submoduleError ? 'flex' : 'hidden'"> 未填寫 </span>
                  </label>
                </div>
                <!-- Footer Button -->
                <div class="mt-5 flex items-center justify-center space-x-2.5 px-16">
                  <button
                    @click="createInfo.isOpen = false"
                    class="bg-white text-gray-400 px-3.5 py-2 h-9 rounded-md outline-none border-solid border border-gray-400 hover:text-gray-700 hover:border-gray-700">
                    <div class="w-28 text-sm">
                      {{ t("standard.cancel") }}
                    </div>
                  </button>
                  <button @click="onSubmitAddModule" class="bg-blue-400 text-white px-3.5 py-2 h-9 rounded-md outline-none hover:bg-blue-300">
                    <div class="w-28 text-sm">
                      {{ t("standard.create") }}
                    </div>
                  </button>
                </div>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
