<script setup>
const props = defineProps({
    text: String,
    classStr: String,
});
</script>

<template>
    <div class="hidden grid-cols-1 absolute rounded-md -mt-20 ml-4 float-end bg-zinc-700 drop-shadow-sm w-fit space-y-2 group-hover:grid z-50 after:content-[''] after:left-1/2 after:-mt-10 after:-mb-20 after:border-b-0 after:border-l-0 after:bottom-[72px] after:border-t-zinc-700 after:border-solid after:border-8 after:w-0 after:h-0 after:absolute"
        :class="props.classStr ? props.classStr : ''">
        <a href="#" class="flex items-center justify-start px-2 h-8  text-white text-xs">
            {{ props.text }}
        </a>
    </div>
</template>
