<script setup>
const props = defineProps({
    text: String
});
</script>

<template>
    <div
        class="hidden grid-cols-1 rounded-md absolute float-end bg-zinc-700 drop-shadow-sm w-fit space-y-2 group-hover:grid z-50 after:content-[''] after:absolute top-16 after:left-1/2 after:w-0 after:h-0 after:border-l-white after:border-8 after:border-solid after:border-b-zinc-700 after:border-t-0 after:border-r-0 after:-ml-2 after:-mt-2">
        <a href="#" class="flex items-center justify-start px-2 h-8  text-white text-xs">
            {{ props.text }}
        </a>
    </div>
</template>
