<script setup>
const props = defineProps({
  auth_code: String,
  type: Number,
  toggles: Boolean,
  updateToggleStatus: Function,
});
</script>

<template>
  <label class="relative inline-flex items-center cursor-pointer"
    @click.stop.prevent="props.updateToggleStatus(props.auth_code, props.toggles, props.type)">
    <input type="checkbox" value="" class="sr-only peer" :checked="props.toggles" />
    <div
      class="w-14 h-7 after:text-blue-400 peer-checked:after:text-gray-400 bg-gray-200 peer-focus:outline-none peer-focus:ring-0 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:text-xs peer-checked:after:content-['|'] after:content-['O'] after:flex after:items-center after:justify-center after:absolute after:top-0.5 after:start-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all peer-checked:bg-blue-500 cursor-pointer">
    </div>
  </label>
</template>
