.custom-multiselect .multiselect__tags {
  min-height: 36px;
  padding: 0.5rem 0.875rem;
  border: 1px solid rgba(203, 213, 225, 1);
}

.custom-multiselect .multiselect__tags-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
}

.custom-multiselect .multiselect__tags .multiselect__tag {
  background-color: rgba(59, 130, 246, 1);
  margin: 0;
}

.custom-multiselect .multiselect__tags .multiselect__placeholder {
  margin: 0;
  padding: 0;
}

.custom-multiselect .multiselect__tags .multiselect__tag .multiselect__tag-icon::after {
  color: #ffffff;
}

.custom-multiselect .multiselect__tags .multiselect__tag .multiselect__tag-icon:focus {
  outline: none;
}

.custom-multiselect .multiselect__select {
  border: none;
  padding: 0;
}

.custom-multiselect .multiselect__select::before {
  position: relative;
  display: block;
  border: none;
  height: 16px;
  width: 16px;
  margin: auto;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='rgba(156, 163, 175, 1)' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E");
}

.custom-multiselect .multiselect__option--selected {
  background-color: rgba(59, 130, 246, 1);
  color: #ffffff;
}

.custom-multiselect .multiselect__element:hover {
  cursor: pointer;
}

.custom-multiselect .multiselect__option--selected.multiselect__option--highlight {
  background-color: rgba(59, 130, 246, 0.8);
  color: #ffffff;
}

.custom-multiselect .multiselect__option--highlight {
  background-color: rgba(249, 250, 251, 1);
  color: #000000;
}
