.rpa-modal-slider-container {
  width: 330px;
  height: 330px;
  overflow: hidden;
}
.rpa-modal-slider-container .rpa-modal-slider-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 28px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
}
.rpa-modal-slider-container .rpa-modal-slider-close:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
.rpa-modal-slider-container .rpa-modal-right-slider-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  border: 1px solid #eee;
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.rpa-modal-slider-container .rpa-modal-right-slider-close:hover {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}
.rpa-modal-slider-container.rpa-modal-bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
}
.rpa-modal-slider-container.rpa-modal-bottom-left .rpa-modal-slider-close {
  top: 0;
  left: 2px;
}
.rpa-modal-slider-container.rpa-modal-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}
.rpa-modal-slider-container.rpa-modal-bottom-right .rpa-modal-slider-close {
  top: 0;
  right: 2px;
}
.rpa-modal-slider-container.rpa-modal-top-left {
  position: fixed;
  top: 0;
  left: 0;
}
.rpa-modal-slider-container.rpa-modal-top-right {
  position: fixed;
  top: 0;
  right: 0;
}
.rpa-modal-slider-container .rpa-modal-slides-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
  animation-name: fade;
  animation-duration: 1s;
  margin-top: 28px;
}
.rpa-modal-slider-container .rpa-modal-slides-wrapper a {
  width: 100%;
  height: 100%;
  display: block;
}
.rpa-modal-slider-container .rpa-modal-slides-wrapper img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.rpa-modal-slider-container .rpa-modal-images-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 9999;
}
.rpa-modal-slider-container .rpa-modal-images-dot .rpa-modal-image-dot {
  display: inline-block;
  border-radius: 50%;
  background: #d3d3d3;
  padding: 8px;
  margin: 10px 5px;
}
.rpa-modal-slider-container .rpa-modal-images-dot .rpa-modal-image-dot.rpa-modal-image-dot-active {
  background: #000;
}
.modal__push-bg {
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
}
.modal__push-bg.hidden {
  display: none;
}
.modal__push-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  z-index: 9999;
  padding: 8px 16px;
  width: 350px;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal__push-wrapper.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__push-wrapper.bottom__right {
  bottom: 0;
  right: 0;
  transform: translate(0%, 0%);
  margin: 10px;
}
.modal__push-wrapper.hidden {
  display: none;
}
.modal__push-wrapper-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.modal__push-wrapper-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 500;
  width: calc(100% - 40px);
}
.modal__push-wrapper-header-close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}
.modal__push-wrapper-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__push-wrapper-body-image {
  display: block;
  margin: 16px 8px;
}
.modal__push-wrapper-body-image.horizontal {
  width: 300px;
  height: 300px;
}
.modal__push-wrapper-body-image.vertical {
  width: 300px;
  height: 300px;
}
.modal__push-wrapper-body-image > img {
  width: 100%;
  height: 100%;
}
.modal__push-wrapper-body-title {
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  max-height: 24px;
  margin: 10px;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.modal__push-wrapper-body-advertising__copy {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  height: auto;
  max-height: 48px;
  margin: 10px;
  width: 300px;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.modal__push-wrapper-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 10px;
}
.modal__push-wrapper-footer-acess {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 25px;
  border: 1px solid #00bbf9;
  padding: 2px 4px;
  margin-right: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  background-color: #00bbf9;
}
.modal__push-wrapper-footer-close {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 25px;
  border: 1px solid #95969d;
  padding: 2px 4px;
  margin-left: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  background-color: #95969d;
  outline: none;
  cursor: pointer;
}
.rpa-lightBox_background {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  padding-top: 3%;
  color: #000;
  left: 0;
}
.rpa-lightBox_background.rpa_light ol,
.rpa-lightBox_background.rpa_light ul {
  list-style: none;
}
.rpa-lightBox_background.rpa_light a,
.rpa-lightBox_background.rpa_light ins {
  text-decoration: none;
}
.rpa-lightBox_background.rpa_light {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.rpa-lightBox_background.rpa_light .rpa-lightBox {
  max-width: 390px;
  height: 442px;
  background-color: #601986;
  border: 3px solid #601986;
}
.rpa-lightBox_background .rpa-lightBox {
  width: 95%;
  max-width: 850px;
  height: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: #e9f1ff;
  border-radius: 20px;
  position: relative;
  border: 3px solid #7ecef4;
  margin-bottom: 8%;
}
.rpa-lightBox_background .rpa-closeBtn {
  width: 45px;
  position: absolute;
  right: 2%;
  opacity: 0.6;
  top: 2%;
  z-index: 3;
  transition: all 0.1s;
  cursor: pointer;
}
.rpa-lightBox_background .rpa-closeBtn:hover {
  opacity: 1;
}
.rpa-lightBox_background .rpa-light_box_content {
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: inherit;
  background-repeat: repeat;
  border-radius: 15px;
  z-index: 0;
}
.rpa-lightBox_background .rpa-light_box_content:before {
  content: "";
  width: 150%;
  height: 150%;
  display: block;
  position: absolute;
  background-repeat: repeat;
  background-image: url("https://webpush-server-eyldrcphzq-an.a.run.app/static/lightbox_bac.png");
  transform: rotate(-20deg);
  top: -25%;
  left: -25%;
}
.rpa-lightBox_background .rpa-content_background {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.rpa-lightBox_background .rpa-content_background:before {
  background-image: url("https://webpush-server-eyldrcphzq-an.a.run.app/static/rpa_bac.png");
  transform: rotate(0deg);
  z-index: -1;
  top: 0;
  opacity: 0.5;
}
.rpa-lightBox_background .rpa-content_background img {
  width: 80%;
  margin: 0 10%;
}
.rpa-lightBox_background .rpa-content_background > ul {
  width: 83%;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  margin: 7px 0;
  color: #601986;
}
.rpa-lightBox_background .rpa-content_background p {
  width: 100% !important;
}
.rpa-lightBox_background .rpa-white_background {
  width: 100%;
  height: 80%;
  position: absolute;
  background-color: #fff;
  transform: skew(0, 6deg);
  z-index: -1;
}
.rpa-lightBox_background .rpa_btn {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.rpa-lightBox_background .rpa_btn.two div {
  width: 48%;
  height: 35px;
}
.rpa-lightBox_background .rpa_btn.three .confirm_btn {
  width: calc(33.3333333333% - 5px);
  margin: 5px 0 5px 0;
}
.rpa-lightBox_background .rpa_btn .confirm_btn {
  width: 100%;
  border: 0px;
  background-color: #601986;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  letter-spacing: 1px;
  font-size: 19px;
  transition: all 0.1s;
  cursor: pointer;
}
.rpa-lightBox_background p {
  display: block !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}
@media (max-width: 600px) {
  .rpa-modal-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .rpa-modal-slider-container .rpa-modal-slides-wrapper {
    width: 100%;
    object-fit: contain;
    object-position: center center;
  }
}
.nobackground-image:before {
  background-image: none !important;
}