@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

ul {
  list-style: none;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.customize-headers {
  background-color: rgba(219, 159, 94, 0.1);
  padding: 10px 0;
  width: 100%;
  height: 40px;
  text-align: left;
}

.customize-table {
  min-height: 300px;

  --easy-table-border: 0px solid #445269;
  --easy-table-row-border: 1px solid #445269;

  --easy-table-header-font-size: 14px;
  --easy-table-header-height: 40px;
  --easy-table-header-font-color: #141414;
  --easy-table-header-background-color: rgba(219, 159, 94, 0.1);

  --easy-table-header-item-padding: 10px 20px;

  --easy-table-body-even-row-font-color: #3a3a3a;
  --easy-table-body-even-row-background-color: #ffffff;

  --easy-table-body-row-font-color: #3a3a3a;
  --easy-table-body-row-background-color: #ffffff;
  --easy-table-body-row-height: 50px;
  --easy-table-body-row-font-size: 14px;

  --easy-table-body-row-hover-font-color: #2d3a4f;
  --easy-table-body-row-hover-background-color: #eee;

  --easy-table-body-item-padding: 17px 20px;

  --easy-table-footer-background-color: #2d3a4f;
  --easy-table-footer-font-color: #c0c7d2;
  --easy-table-footer-font-size: 14px;
  --easy-table-footer-padding: 0px 10px;
  --easy-table-footer-height: 50px;

  --easy-table-rows-per-page-selector-width: 70px;
  --easy-table-rows-per-page-selector-option-padding: 10px;
  --easy-table-rows-per-page-selector-z-index: 1;

  --easy-table-scrollbar-track-color: #2d3a4f;
  --easy-table-scrollbar-color: #2d3a4f;
  --easy-table-scrollbar-thumb-color: #4c5d7a;
  --easy-table-scrollbar-corner-color: #2d3a4f;

  --easy-table-loading-mask-background-color: #2d3a4f;
}

.basic-customize-headers {
  padding: 10px 0;
  border-bottom: 1px solid rgba(58, 58, 58, 0.1);
  color: rgba(58, 58, 58, 0.5);
  width: 100%;
  height: 40px;
  text-align: left;
}

.basic-customize-table {
  text-align: center !important;
  --easy-table-border: 0px solid #445269;
  --easy-table-row-border: 0px solid #445269;

  --easy-table-header-font-size: 14px;
  --easy-table-header-height: 40px;
  --easy-table-header-font-color: rgba(58, 58, 58, 0.5);
  --easy-table-header-background-color: rgba(219, 159, 94, 0);

  --easy-table-header-item-padding: 10px 20px;

  --easy-table-body-even-row-font-color: #3a3a3a;
  --easy-table-body-even-row-background-color: #ffffff;

  --easy-table-body-row-font-color: #3a3a3a;
  --easy-table-body-row-background-color: #ffffff;
  --easy-table-body-row-height: 40px;
  --easy-table-body-row-font-size: 14px;

  --easy-table-body-row-hover-font-color: #2d3a4f;
  --easy-table-body-row-hover-background-color: #eee;

  --easy-table-body-item-padding: 17px 20px;

  --easy-table-footer-background-color: #2d3a4f;
  --easy-table-footer-font-color: #c0c7d2;
  --easy-table-footer-font-size: 14px;
  --easy-table-footer-padding: 0px 10px;
  --easy-table-footer-height: 50px;

  --easy-table-rows-per-page-selector-width: 70px;
  --easy-table-rows-per-page-selector-option-padding: 10px;
  --easy-table-rows-per-page-selector-z-index: 1;

  --easy-table-scrollbar-track-color: #2d3a4f;
  --easy-table-scrollbar-color: #2d3a4f;
  --easy-table-scrollbar-thumb-color: #4c5d7a;
  --easy-table-scrollbar-corner-color: #2d3a4f;

  --easy-table-loading-mask-background-color: #2d3a4f;
}

.standard-headers {
  background-color: rgba(219, 159, 94, 0.1);
  padding: 10px 20px;
  width: 100%;
  height: 40px;
  text-align: left;
}

.standard-table {
  --easy-table-border: 0px solid #445269;
  --easy-table-row-border: 1px solid #445269;

  --easy-table-header-font-size: 14px;
  --easy-table-header-height: 40px;
  --easy-table-header-font-color: #141414;
  --easy-table-header-background-color: rgba(219, 159, 94, 0.1);

  --easy-table-header-item-padding: 10px 20px;

  --easy-table-body-even-row-font-color: #3a3a3a;
  --easy-table-body-even-row-background-color: #ffffff;

  --easy-table-body-row-font-color: #3a3a3a;
  --easy-table-body-row-background-color: #ffffff;
  --easy-table-body-row-height: 50px;
  --easy-table-body-row-font-size: 14px;

  --easy-table-body-row-hover-font-color: #2d3a4f;
  --easy-table-body-row-hover-background-color: #eee;

  --easy-table-body-item-padding: 17px 20px;

  --easy-table-footer-background-color: #2d3a4f;
  --easy-table-footer-font-color: #c0c7d2;
  --easy-table-footer-font-size: 14px;
  --easy-table-footer-padding: 0px 10px;
  --easy-table-footer-height: 50px;

  --easy-table-rows-per-page-selector-width: 70px;
  --easy-table-rows-per-page-selector-option-padding: 10px;
  --easy-table-rows-per-page-selector-z-index: 1;

  --easy-table-scrollbar-track-color: #2d3a4f;
  --easy-table-scrollbar-color: #2d3a4f;
  --easy-table-scrollbar-thumb-color: #4c5d7a;
  --easy-table-scrollbar-corner-color: #2d3a4f;

  --easy-table-loading-mask-background-color: #2d3a4f;
}

.ql-editor {
  height: 250px;
  max-height: 250px;
  overflow: auto;
  border-radius: 6px;
}

.input-color-container {
  position: relative;
  overflow: hidden;
  width: 20px;
  height: 20px;
  border: solid 2px #ddd;
  border-radius: 20px;
}

.input-color {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 36px;
  height: 36px;
  border: none;
}

.input-color-label {
  cursor: pointer;
  color: #3a3a3a;
  margin-left: 6px;
}

table.broadcast-anal-deets,
.broadcast-anal-deets th,
.broadcast-anal-deets td {
  padding: 10px;
  border: 1px solid #f4e4d1;
  border-collapse: collapse;
}

table.broadcast-anal-deets td table {
  border: none;
}

.broadcast-anal-deets td table td:first-child {
  border-left: none;
}
.broadcast-anal-deets td table td:last-child {
  border-right: none;
}
