<template>
  <LoginPage />
</template>

<script>
import { defineComponent } from "vue";
import LoginPage from "../pages/loginPage.vue";

export default defineComponent({
  name: "LoginLayout",

  components: {
    LoginPage,
  },
});
</script>
