<template>
  <svg
    version="1.1"
    id="boardcast-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024"
    xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="icon_x2F_menu_x2F_home" transform="translate(0.000000, -1.000000)">
        <g id="Group" transform="translate(0.000000, 1.000000)">
          <path
            id="Path"
            d="M274.4,971.7C101,971.7,1.2,870.1,1.2,693.5V354.7C1.2,178.1,101,76.5,274.4,76.5H607
				c19.6,0.1,35.5,16.3,35.6,36.3c-0.1,20-16,36.2-35.6,36.3H274.4c-135.9,0-201.9,67.3-201.9,205.7v338.7
				c0,138.4,66,205.7,201.9,205.7h475.2c135.9,0,201.9-67.3,201.9-205.7v-242c0-20,16-36.3,35.6-36.3c19.7,0,35.6,16.2,35.6,36.3
				v242c0,176.6-99.8,278.3-273.2,278.3H274.4z" />
          <path
            id="Shape"
            d="M400.8,528L252,407c-15.4-12.4-17.9-35.2-5.7-50.8c12.2-15.6,34.5-18.2,49.9-5.8l148.7,121
				c39.8,29.5,93.7,29.5,133.5,0l56.1-45.5c15.4-12.4,37.7-9.8,49.9,5.8c12.2,15.6,9.6,38.4-5.7,50.8L622.7,528
				c-31.5,25.3-70.6,38.8-110.7,38.2C471.7,566.7,432.5,553.2,400.8,528L400.8,528z M868.4,366.8c-62.5,0-118.8-38.3-142.7-97.1
				C701.8,211,715,143.3,759.2,98.3c44.2-45,110.6-58.4,168.3-34.1c57.7,24.3,95.3,81.7,95.3,145.3
				C1022.7,296.4,953.6,366.7,868.4,366.8L868.4,366.8z M868.4,124.9c-45.9,0-83.2,37.9-83.2,84.7s37.2,84.7,83.2,84.7
				c45.9,0,83.2-37.9,83.2-84.7C951.5,162.8,914.3,124.9,868.4,124.9L868.4,124.9z" />
        </g>
      </g>
    </g>
  </svg>
</template>
