<template>
  <svg
    version="1.1"
    id="language-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024"
    xml:space="preserve">
    <g id="Symbols">
      <g id="icon_x2F_menu_x2F_language" transform="translate(0.000000, -1.000000)">
        <g id="Group" transform="translate(0.000000, 1.000000)">
          <path
            id="Shape"
            d="M987.4,989.9c-14.2,0-27.7-8.3-33.6-22.3l-53.3-124.7H635.4l-53.3,124.7c-8,18.6-29.5,27.3-48,19.3
				c-18.5-8-27.2-29.6-19.2-48.2L734.4,424c5.7-13.6,19-22.3,33.6-22.3c14.6,0,27.9,8.7,33.6,22.3L1021,938.6
				c8,18.6-0.7,40.2-19.2,48.2C997,988.9,992.2,989.9,987.4,989.9z M666.7,769.3h202.5L768,531.8L666.7,769.3z M109.7,842.8
				c-12.6,0-24.7-6.4-31.5-18.1c-10.3-17.5-4.6-40,12.8-50.3c1.4-0.7,135.8-81.8,262.2-237.3C443,426.5,496.7,288.5,520.2,217.9
				H36.6C16.5,217.9,0,201.4,0,181.2s16.5-36.8,36.6-36.8h292.6V70.9c0-20.2,16.5-36.8,36.6-36.8c20.1,0,36.6,16.5,36.6,36.8v73.5
				h292.6c20.1,0,36.6,16.5,36.6,36.8s-16.5,36.8-36.6,36.8h-97.6c-19.9,65-77.9,231.1-187.2,365.5
				C275,749.8,134.2,834.1,128.2,837.8C122.5,841.2,116.1,842.8,109.7,842.8z" />
          <path
            id="Path"
            d="M512,732.5c-7.8,0-15.5-2.5-22.4-7.6c-3.4-2.8-84.8-66.2-171.2-179c-85.7-111.7-129.8-197.3-131.7-201
				c-9.1-18.1-2.1-40.2,15.8-49.4c18.1-9.2,40-2.1,49.1,15.9c0.5,0.9,43.2,83.6,124.3,189.5c80.2,104.8,157.3,165,157.9,165.6
				c16,12.4,19,35.6,6.6,51.5C533.7,727.7,523,732.5,512,732.5L512,732.5z" />
        </g>
      </g>
    </g>
  </svg>
</template>
