<template>
  <svg
    version="1.1"
    id="logout-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024"
    xml:space="preserve">
    <g id="Symbols">
      <g id="icon_x2F_menu_x2F_signout" transform="translate(0.000000, -2.000000)">
        <g id="Group" transform="translate(0.000000, 2.500000)">
          <path
            id="Shape"
            d="M512.1,124.9v33.5h89.1c19.1,0,35.3,14.3,37.9,33.6l0.4,5.3l0.4,220.7h-76.6L563,236.3h-50.9v233.8l51.2-0.1
				l0.1-0.2H640l-0.1,0.2h252.3l-88-89.5c-13.4-13.6-15-35.2-3.7-50.7l3.7-4.4c13.4-13.6,34.6-15.2,49.8-3.8l4.3,3.8l153.1,155.6
				c13.4,13.6,15,35.2,3.7,50.7l-3.7,4.4l-153,155.9c-14.2,14.3-36.8,15.2-52,1.9c-15.2-13.3-17.7-36.1-5.9-52.5l3.7-4.4l87.5-89.1
				L512.1,548l-0.1,233.4h51.8l-0.4-181.7h76.7l0.4,220.6c0.1,19.5-14.1,36-33.1,38.7l-5.2,0.3h-90.1v38.9c0,11.5-5,22.4-13.7,29.8
				c-8.7,7.4-20.1,10.5-31.3,8.5L33,858.5c-18.3-3.3-31.6-19.4-31.7-38.3V197.3c0-19.1,13.6-35.3,32.1-38.4l434.1-72.5
				c11.1-1.9,22.4,1.3,31,8.7C507.1,102.6,512.1,113.4,512.1,124.9z M435.5,170.7L77.9,230.4v557.1l357.5,64.2V170.7z M333.4,495.8
				c18.3,0,35.2,9.9,44.3,26c9.1,16.1,9.1,35.9,0,52s-26,26-44.3,26c-28.3,0-51.2-23.3-51.2-52S305.2,495.8,333.4,495.8L333.4,495.8
				z" />
        </g>
      </g>
    </g>
  </svg>
</template>
