<template>
  <img src="../../../assets/icons/permissions.svg" alt="" />
  <!-- <svg
    version="1.1"
    id="permissions-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024"
    xml:space="preserve"
    fill="current">
    <g id="Symbols">
      <g id="icon_x2F_menu_x2F_permissions" transform="translate(-2.000000, 0.000000)">
        <g id="permissions" transform="translate(2.000000, 0.000000)">
          <path
            id="Shape"
            class="st0"
            d="M908.2,143.7L528,3.1c-10.3-3.9-21.7-3.9-32,0L115.8,143.7c-18.2,6.7-30.4,24.1-30.4,43.6v478.6
				c0,13.9,6.3,27.1,17,35.9l380.2,311.5c17.1,13.9,41.6,13.9,58.6,0l380.2-311.5c10.8-8.8,17-22,17-35.9V187.3
				C938.6,167.8,926.4,150.4,908.2,143.7z M855.1,648.2L512,929.3L168.9,648.2v-435L512,86.4l343.1,126.9V648.2z M382.2,381.7
				c0,57.6,37.7,108.4,92.7,124.9v224.1c0,2.6,2.1,4.7,4.6,4.7h64.9c2.6,0,4.6-2.1,4.6-4.7v-88.4h106.6c2.6,0,4.6-2.1,4.6-4.7v-65.1
				c0-2.6-2.1-4.7-4.6-4.7H549.1v-61.2c64.1-19.2,103.1-84,90.3-149.8c-12.8-65.8-73.3-111.1-139.9-104.7
				C433,258.6,382.2,314.6,382.2,381.7z M512,325.9c30.7,0,55.6,25,55.6,55.8s-24.9,55.8-55.6,55.8s-55.6-25-55.6-55.8
				S481.3,325.9,512,325.9L512,325.9z" />
        </g>
      </g>
    </g>
  </svg> -->
</template>
