<template>
  <svg
    version="1.1"
    id="seo-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024"
    xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="icon_x2F_menu_x2F_tag">
        <g id="Group">
          <path
            id="Shape"
            d="M515.3,1023.8c-75,0.3-147-29.4-200-82.6L83,709C26.8,652.5-3.2,574.9,0.4,495.2l12.3-256.9
				C18.2,116.1,116.1,18.2,238.4,12.8L494.8,0.5c4.3-0.3,8.6-0.3,13.1-0.3c75.4-0.4,147.8,29.5,201,82.9l232.3,232.3
				c110.2,110.7,110.2,289.7,0,400.4L716.1,940.8C663,994.2,590.7,1024.1,515.3,1023.8L515.3,1023.8z M507.2,77.7h-9.4L241.5,90
				C159,93.4,92.8,159.3,89.2,241.7l-12.1,257c-2.5,58,19.5,114.3,60.5,155.4l232.3,232.3c80.6,80.5,211.2,80.5,291.8,0l224.8-224.8
				c80.5-80.6,80.5-211.2,0-291.8L653.8,138C614.9,99.1,562.2,77.4,507.2,77.7z" />
          <path
            id="Shape_00000072253245467416588840000007521753532923736707_"
            d="M383.6,550.6c-92,0-166.7-74.6-166.7-166.6
				s74.6-166.6,166.7-166.6S550.3,291.9,550.3,384C550.2,476,475.6,550.5,383.6,550.6z M383.6,294.2c-36.3,0-69,21.9-82.9,55.4
				s-6.2,72.1,19.5,97.8s64.3,33.3,97.8,19.5c33.5-13.9,55.4-46.6,55.4-82.9C473.3,334.4,433.1,294.3,383.6,294.2L383.6,294.2z
				 M535.9,795.7c-14.9-15.1-14.9-39.3,0-54.3L741,536.3c15.2-14.1,38.8-13.7,53.4,0.9c14.6,14.6,15.1,38.3,0.9,53.4L590.3,795.7
				c-7.2,7.2-17,11.3-27.2,11.3S543.1,802.9,535.9,795.7L535.9,795.7z" />
        </g>
      </g>
    </g>
  </svg>
</template>
