<template>
  <svg
    version="1.1"
    id="setting-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024"
    xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="icon_x2F_menu_x2F_tag_x2B_" transform="translate(0.000000, -1.000000)">
        <g id="Group" transform="translate(0.000000, 1.000000)">
          <path
            id="Shape"
            d="M851.8,152.4l139.4,243.1c41.3,72.1,41.3,160.9,0,233.1L851.8,871.6c-41.3,72.1-117.7,116.5-200.4,116.5
				H372.6c-82.7,0-159.1-44.4-200.4-116.5L32.8,628.5c-41.3-72.1-41.3-160.9,0-233.1l139.4-243.1C213.5,80.3,290,35.9,372.6,35.9
				h278.7C734,35.9,810.5,80.3,851.8,152.4z M785,191.2c-27.6-48.1-78.5-77.7-133.6-77.7H372.6c-55.1,0-106.1,29.6-133.6,77.7
				L99.7,434.3c-27.6,48.1-27.6,107.3,0,155.4L239,832.8c27.6,48.1,78.5,77.7,133.6,77.7h278.7c55.1,0,106.1-29.6,133.6-77.7
				l139.3-243.1c27.6-48.1,27.6-107.3,0-155.4L785,191.2L785,191.2z" />
          <path
            id="Shape_00000109025426372300161860000011799983626088306083_"
            d="M512,706.2c106.5,0,192.9-86.9,192.9-194.2
				S618.5,317.8,512,317.8S319.1,404.7,319.1,512S405.5,706.2,512,706.2z M512,628.5c-63.9,0-115.7-52.2-115.7-116.5
				S448.1,395.5,512,395.5S627.7,447.6,627.7,512S575.9,628.5,512,628.5L512,628.5z" />
        </g>
      </g>
    </g>
  </svg>
</template>
