<template>
  <svg
    version="1.1"
    id="sidebar-open-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024"
    xml:space="preserve">
    <g id="Symbols">
      <g id="close" transform="translate(0.000000, 0.012784)">
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-348.7246" y1="1014.7418" x2="-372.5251" y2="969.1312" gradientTransform="matrix(11.4545 0 0 -8.1818 4673.1821 8588.3496)">
          <stop offset="0" style="stop-color: #06a3fc" />
          <stop offset="1" style="stop-color: #6e3aff" />
        </linearGradient>
        <path
          class="st0"
          d="M963.4,219.4H60.2C24.1,219.4,0,204.8,0,182.8s24.1-36.6,60.2-36.6h903.2c36.1,0,60.2,14.6,60.2,36.6
			S999.5,219.4,963.4,219.4z M963.4,548.6H60.2C24.1,548.6,0,533.9,0,512c0-21.9,24.1-36.6,60.2-36.6h903.2
			c36.1,0,60.2,14.6,60.2,36.6C1023.6,533.9,999.5,548.6,963.4,548.6z M987.4,877.7H36.6C14.6,877.7,0,863.1,0,841.1
			s14.6-36.6,36.6-36.6h950.9c21.9,0,36.6,14.6,36.6,36.6S1009.4,877.7,987.4,877.7z" />
      </g>
    </g>
  </svg>
</template>

<style type="text/css">
#sidebar-open-icon .st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_1_);
}
</style>
