<template>
  <svg
    version="1.1"
    id="sidebar-close-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024"
    xml:space="preserve">
    <g id="Symbols">
      <g id="close">
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-348.8235" y1="1014.8759" x2="-372.624" y2="969.2021" gradientTransform="matrix(11.4545 0 0 -8.1875 4673.1821 8594.4248)">
          <stop offset="0" style="stop-color: #06a3fc" />
          <stop offset="1" style="stop-color: #6e3aff" />
        </linearGradient>
        <path
          class="st0"
          d="M585.1,219.7H36.6C14.6,219.7,0,205.1,0,183.1s14.6-36.6,36.6-36.6h548.6c21.9,0,36.6,14.6,36.6,36.6
			S607.1,219.7,585.1,219.7z M585.1,548.8H36.6C14.6,548.8,0,534.2,0,512.3c0-21.9,14.6-36.6,36.6-36.6h548.6
			c21.9,0,36.6,14.6,36.6,36.6C621.7,534.2,607.1,548.8,585.1,548.8z M987.4,878H36.6C14.6,878,0,863.3,0,841.4s14.6-36.6,36.6-36.6
			h950.9c21.9,0,36.6,14.6,36.6,36.6S1009.4,878,987.4,878z M987.4,548.8c11,0,18.3-3.7,25.6-11c14.6-14.6,11-36.6-3.7-51.2
			l-153.6-139l153.6-139c14.6-14.6,14.6-36.6,3.7-51.2c-14.6-14.6-36.6-14.6-51.2-3.7L779,318.4c-7.3,7.3-11,18.3-11,25.6
			s3.7,21.9,11,25.6l182.9,164.6C969.1,545.2,980.1,548.8,987.4,548.8z" />
      </g>
    </g>
  </svg>
</template>

<style type="text/css">
#sidebar-close-icon .st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_1_);
}
</style>
