<template>
  <svg
    version="1.1"
    id="tools=icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024"
    xml:space="preserve"
    fill="currentColor">
    <g id="Symbols">
      <g id="icon_x2F_menu_x2F_工具包">
        <g id="Group">
          <path
            id="Shape"
            d="M354.5,0c-65.3,0-118.2,52.9-118.2,118.2v78.8H118.2C52.9,196.9,0,249.8,0,315.1v590.8
				C0,971.1,52.9,1024,118.2,1024h787.7c65.3,0,118.2-52.9,118.2-118.2V315.1c0-65.3-52.9-118.2-118.2-118.2H787.7v-78.8
				C787.7,52.9,734.8,0,669.5,0H354.5L354.5,0z M708.9,196.9H315.1v-78.8c0-21.8,17.6-39.4,39.4-39.4h315.1
				c21.8,0,39.4,17.6,39.4,39.4V196.9z M118.2,275.7h787.7c21.8,0,39.4,17.6,39.4,39.4v157.5H78.8V315.1
				C78.8,293.3,96.4,275.7,118.2,275.7z M375.5,551.4c-38.2,66.2-23.3,150.3,35.2,199.4c58.6,49.1,143.9,49.1,202.5,0
				c58.6-49.1,73.4-133.2,35.2-199.4h296.8v354.5c0,21.8-17.6,39.4-39.4,39.4H118.2c-21.8,0-39.4-17.6-39.4-39.4V551.4H375.5z
				 M512,551.4c43.5,0,78.8,35.3,78.8,78.8c0,43.5-35.3,78.8-78.8,78.8s-78.8-35.3-78.8-78.8C433.2,586.7,468.5,551.4,512,551.4z" />
        </g>
      </g>
    </g>
  </svg>
</template>
