<template>
  <img src="../../../assets/icons/user.svg" alt="" />
  <!-- <svg
    version="1.1"
    id="user-settings-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1024 1024"
    style="enable-background: new 0 0 1024 1024"
    xml:space="preserve" 
    fill="currentColor">
    <g id="Symbols">
      <g id="info_x2F_問號">
        <g id="Group">
          <path id="Shape" class="st0" d="M7,0" />
        </g>
      </g>
    </g>
    <g id="Symbols_00000109725630642598430980000015878455888340301471_">
      <g id="icon_x2F_menu_x2F_user-set" transform="translate(-1.000000, 0.000000)">
        <g id="Group_00000054955526261255261060000010896791351110436254_" transform="translate(1.000000, 0.000000)">
          <path
            id="Shape_00000079467709525903453830000018297725266409985470_"
            class="st0"
            d="M989.4,732.6l-20.5-46.8
				c-0.9-2.1-3.2-3.2-5.4-2.6l-61.6,17l-35.6-36l16.7-62.4c0.6-2.2-0.5-4.5-2.5-5.5l-46.2-20.8c-2.1-0.9-4.5-0.1-5.7,1.9L794.9,634
				h-47.5l-33.6-56.7c-1.2-2-3.6-2.8-5.7-1.9l-46.5,20.9c-1.9,0.9-3,3-2.6,5.1l11.1,62.6l-35.6,36l-61.6-17
				c-2.2-0.6-4.5,0.5-5.4,2.6l-20.5,46.8c-0.9,2.1-0.1,4.6,1.8,5.8l56,34v48.1l-56,34c-2,1.2-2.7,3.7-1.8,5.8l20.6,47.1
				c0.9,2,3,3.1,5,2.7l61.8-11.3l35.6,36l-16.7,62.4c-0.6,2.2,0.5,4.5,2.5,5.5l46.2,20.8c2.1,0.9,4.5,0.1,5.7-1.9l33.6-56.7H789
				l33.6,56.7c1.2,2,3.6,2.8,5.7,1.9l46.2-20.8c2.1-0.9,3.1-3.3,2.5-5.5l-16.7-62.4l35.6-36l61.6,17c2.2,0.6,4.5-0.5,5.4-2.6
				l20.8-47.3c0.8-1.9,0.2-4.2-1.4-5.5l-50.7-40v-48.1l56-34C989.5,737.2,990.3,734.7,989.4,732.6L989.4,732.6z M768.4,890.1
				c-49.4,0-89.5-40.6-89.5-90.6c0-50,40.1-90.6,89.5-90.6c49.4,0,89.5,40.6,89.5,90.6C857.9,849.5,817.9,890.1,768.4,890.1z
				 M775.1,304.5c0-168.1-134.5-304.4-300.5-304.4S174.1,136.4,174.1,304.5c-0.1,102.2,50.5,197.5,134.7,253.9
				c-160.6,66.7-274.5,227-274.5,413v29.6c0,2.6,2.1,4.6,4.6,4.6h73.4c2.5,0,4.6-2.1,4.6-4.6v-29.6c-0.1-48.3,9.5-96.1,28.2-140.5
				c36.6-87,105-156.4,190.9-193.4c43.8-18.9,91-28.6,138.7-28.6C640.6,608.9,775.1,472.7,775.1,304.5z M474.6,525.3
				c-103.8-0.1-193.1-74.5-213.3-177.6S295.6,141.2,391.6,101s206.6-6.2,264.2,81.3c57.7,87.5,46.3,204-27.1,278.4
				C587.9,502.2,532.4,525.4,474.6,525.3z" />
        </g>
      </g>
    </g>
  </svg> -->
</template>
