<script setup>
import { onBeforeUnmount, ref, shallowRef, watch } from "vue";

import { Editor, Toolbar } from "@wangeditor/editor-for-vue";
import "@wangeditor/editor/dist/css/style.css"; // 引入 css

import { uploadImage } from "../../helpers/broadcast/missionListAPI";

const props = defineProps({
  richTextContent: Object,
  isEmpty: Boolean
});

// 编辑器实例，必须用 shallowRef
const editorRef = shallowRef();
// 内容 HTML
const valueHtml = ref();
valueHtml.value = props.richTextContent.textarea;
watch(
  props.richTextContent,
  () => {
    valueHtml.value = props.richTextContent.textarea;
  },
  { deep: true }
);

const toolbarConfig = {
  toolbarKeys: [
    "bold",
    "italic",
    "underline",
    "uploadImage",
    "through",
    "|",
    "color",
    "fontSize",
    "|",
    "justifyLeft",
    "justifyRight",
    "justifyCenter",
    "justifyJustify",
  ],
};
const editorConfig = {
  placeholder: "请输入内容...",
  MENU_CONF: {
    // 配置上传服务器地址
    uploadImage: {
      // 小于该值就插入 base64 格式（而不上传），默认为 0
      base64LimitSize: 5 * 1024, // 5kb
      // 单个文件的最大体积限制，默认为 2M
      // maxFileSize: 1 * 1024 * 1024, // 1M
      // // 最多可上传几个文件，默认为 100
      // maxNumberOfFiles: 5,
      // 选择文件时的类型限制，默认为 ['image/*'] 。如不想限制，则设置为 []
      allowedFileTypes: ["image/*"],
      // 自定义上传
      async customUpload(file, insertFn) {
        // 文件上传
        const formData = new FormData();
        formData.set("img", file);

        // 这里根据自己项目封装情况，设置上传地址
        // axios.defaults.headers.common["Authorization"] = window.sessionStorage.getItem("accessToken");
        // let result = await axios.post(`${DOMAIN}api/webpush/get/broadcast_upload_img`, formData);
        uploadImage(formData).then((response) => {
          // 插入到富文本编辑器中，主意这里的三个参数都是必填的，要不然控制台报错：typeError: Cannot read properties of undefined (reading 'replace')
          insertFn(response.data.result, response.data.result, response.data.result);
        });
      },
    },
  },
};

// 组件销毁时，也及时销毁编辑器
onBeforeUnmount(() => {
  const editor = editorRef.value;
  if (editor == null) return;
  editor.destroy();
});

const handleCreated = (editor) => {
  editorRef.value = editor;
  // console.log("created", editor);
};
const handleChange = (editor) => {
  props.richTextContent.textarea = valueHtml.value;
  // console.log("change:", editor.children);
};
const handleDestroyed = (editor) => {
  // console.log("destroyed", editor);
};
const handleFocus = (editor) => {
  // console.log("focus", editor);
};
const handleBlur = (editor) => {
  // console.log("blur", editor);
};
const customAlert = (info, type) => {
  // alert(`【自定义提示】${type} - ${info}`);
};
const customPaste = (editor, event, callback) => {
  // console.log("ClipboardEvent 粘贴事件对象", event);
  // const html = event.clipboardData.getData('text/html') // 获取粘贴的 html
  // const text = event.clipboardData.getData('text/plain') // 获取粘贴的纯文本
  // const rtf = event.clipboardData.getData('text/rtf') // 获取 rtf 数据（如从 word wsp 复制粘贴）

  // 自定义插入内容
  editor.insertText("xxx");

  // 返回 false ，阻止默认粘贴行为
  event.preventDefault();
  callback(false); // 返回值（注意，vue 事件的返回值，不能用 return）

  // 返回 true ，继续默认的粘贴行为
  // callback(true)
};
</script>

<template>
  <div class="block w-full h-full p-1 rounded-md ">
    <div
      class="border rounded-md  w-full h-full focus-within:border focus-within:border-black hover:border hover:border-black"
      :class="props.isEmpty ? 'border-red-500' : 'border-slate-300'">
      <Toolbar style="border-bottom: 1px solid #ccc; margin: 0 4px" :editor="editorRef" :defaultConfig="toolbarConfig"
        mode="default" />
      <Editor style="height: 500px; overflow-y: hidden; margin: 0 4px" v-model="valueHtml" :defaultConfig="editorConfig"
        mode="default" @onCreated="handleCreated" @onChange="handleChange" @onDestroyed="handleDestroyed"
        @onFocus="handleFocus" @onBlur="handleBlur" @customAlert="customAlert" @customPaste="customPaste" />
    </div>
  </div>
</template>

<style scoped>
.read-the-docs {
  color: #3a3a3a;
}
</style>
